{% comment %}
<h3>Editar Test</h3>
<form action={% url 'funupdateTest' test.id %} method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" id="txtNombre" name="txtNombre" placeholder="Titulo"
      value={{test.name}} />
  </div>
  <div class="form-group">
    <input type="text" id="txtPretest" name="txtPretest" placeholder="Texto
      pre-test" value={{test.pretest_text}} />
  </div>
  <div class="form-group">
    <input type="text" id="txtIntroduction" name="txtIntroduction"
      placeholder="Introducción"
      value={{test.introduction_text}} />
  </div>
  <div class="form-group">
    <button type="submit">Guardar</button>
  </div>
</form>


<a href={% url 'createQuestion' %}>Agregar Pregunta</a>
{% if questions %}
<ul>
  {% for question in questions %}
  <li>
    {{question.question_text}}
    <a href={% url 'viewQuestion' question.id %}>Editar</a>
    <a href={% url 'deleteQuestion' question.id %}>Eliminar</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<h3> No hay preguntas </h3>
{% endif %}


{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endcomment %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depresión y Ansiedad</title>
    <!-- Bootstrap CSS+Fuentes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Mulish&display=swap" rel="stylesheet">
    <!-- Material Iconos -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'static/img' %}">
    <script>
    function zzz() {
      var get = document.getElementsById("get").value;
      document.getElementsById("put").value = get;
    }
  </script>
  </head>

  <body>
    <!-- Modal Agregar -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Pregunta</h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action={% url 'addQuestion' %} method="POST">
            <div class="modal-body">
              {% csrf_token %}
              <div class="boxModal my-2">
                <div class="form-group p-0">
                  <p> Pregunta: </p>
                  <input placeholder="Ingrese pregunta" id="txtQuestion"
                    name="txtQuestion" class="form-control" maxlength="200" required/>
                </div>
                <p> Tipo de pregunta: </p>
                <select name="txtType" id="txtType" class="form-control"
                  aria-label="Default select example" required>
                  <option disabled> Ingrese una opción: </option>
                  <option value="depresion">Depresión</option>
                  <option value="ansiedad">Ansiedad</option>
                  <option value="estres">Estres</option>
                </select>
              </div>

              <div class="modal-footer justify-content-around">
                <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Eliminar-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Pregunta</h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action={% url 'addQuestion' %} method="POST">
            <div class="modal-body">
              {% csrf_token %}
              <div class="boxModal my-2">
                <div class="form-group p-0">
                  <p> Pregunta: </p>
                  <input placeholder="Ingrese pregunta" id="txtQuestion"
                    name="txtQuestion" class="form-control" required/>
                </div>
                <p> Tipo de pregunta: </p>
                <select name="txtType" id="txtType" class="form-control"
                  aria-label="Default select example" required>
                  <option disabled> Ingrese una opción: </option>
                  <option value="depresion">Depresión</option>
                  <option value="ansiedad">Ansiedad</option>
                  <option value="estres">Estres</option>
                </select>
              </div>

              <div class="modal-footer justify-content-around">
                <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>




  <!-- Navbar wrapper -->
  <div class="d-flex flex-row flex-shrink-0" role="navigation">
    <!-- Navbar-->
    <nav style="background: #AEAFF7;" class="navbar d-flex flex-row flex-grow-1  navbar-expand-xl  navbar-light ">
      <div class="container-fluid">
        <!-- icono o nombre -->


        <a class="navbar-brand pl-5" href={% url 'pageadmin'  %}>
          <img src={% static 'img/logo.png' %} alt="logo" width="50px">
          <span style="color: #000000;">Saludem</span>
        </a>

        <!-- boton del menu -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- elementos del menu colapsable -->
        <div class="collapse navbar-collapse " id="menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-4">
              <a class="nav-link" href={% url 'updateTest' %}>Test</a>
          </li>
          <li class="nav-item pr-4">
            <a class="nav-link" href={% url 'allUsers' %}>Usuarios</a>
          </li>
         
          <li class="nav-item dropdown pr-4 ">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                Técnicas de relajación
              </a>
            
              <ul class="dropdown-menu" style="background: #D7D7FB;">
                <li><a class="dropdown-item bg-transparent"href= {% url 'viewRecomendationAdmin' 'depresion' 'normal' 'False' %} style="color: rgb(0, 0, 0);">Para depresión</a></li>
                <hr>
                <li><a class="dropdown-item bg-transparent" href={% url 'viewRecomendationAdmin' 'ansiedad' 'normal' 'False' %} style="color: rgb(0, 0, 0);">Para ansiedad</a></li>
                
              </ul>
              <li class="nav-item  pr-4">
                <a class="nav-link" href="#">Diario Emocional</a>
            </li>
            <li class="nav-item  pr-4">
              <a class="nav-link" href={% url 'allProfesional' %}>Profesionales</a>
          </li>
          <li class="nav-item  pr-4">
            <a class="nav-link" href={% url 'faqAdmin' %}>FAQ</a>
          </li>
            <li class="nav-item pr-4">
              <a class="bx bx-world bx-tada mt-1" href="javascript:void(0)" onclick="gTra(this)"
                style="font-size: 30px;" id="nav_translate_btn"></a>
              <div
                style='display:none;position:absolute;z-index:5;top:84px;right:6%;height:55px;background-color:#D7D7FB;;text-align:left; padding-top:15px;'
                id='google_translate_element'></div>
            </li>


            <li class="nav-item">
              <img src={{user.image}} width="30" height="30" class="user-pic rounded-circle mt-2  "
                onclick="toggleMenu()" title="Administrador de cuenta para NombreUsuario">
              <div id="subMenu" class="sub-menu-wrap" style="position: absolute; top:100%; right:1%; width :320px; ">
                <div class="sub-menu" style="background:#D7D7FB ; padding:20px; margin:10px;">
                  <div class="user-info  mt-3 mb-1" style="display: flex; align-items: center; ">
                    <img style=" width:80px; background:#e5e5e5;margin-right:15px ;" src={{user.image}} width="60 "
                      alt="" class="rounded-circle">
                    <h4 class="NombreUsuario " style="font-weight:500;">{{user.username}}</h4>
                  </div>
                  <hr class="mt-4 mb-1">

                  <section class="d-flex flex-column ">

                    <a href={% url 'viewUser' %} style="display:flex; align-items: center; text-decoration: none; margin: 12px 0; color: #000000;" class ="sub-menu-link ">
                      <img src={% static 'img/Perfil.png' %} alt="perfil" style="margin-left:-3px;width: auto !important; height: 50px !important; margin-top:-2px; " >
                    <p class="mt-2 ml-2 w-100">Ver perfil</p>
                    <span class="mb-2">></span>
                  </a>


                    <a href={% url 'logout' %}
                      style="display:flex; align-items: center; text-decoration: none; margin: 12px 0; color:#181616;"
                      class="sub-menu-link d-flex flex-row mt-2">
                      <i class='bx bx-log-in bx-flip-vertical ' style="font-size:40px; width: 50px;"></i>
                      <p class="mb-1 ml-3 w-100">Cerrar Sesión</p>
                      <span>></span>
                    </a>
                    <style>
                      #google_translate_element {
                        z-index: 7 !important;
                        border-radius: 20px 20px 50px !important;
                        box-shadow: 2px 2px 5px 2px #000000;
                        width: 200px !important;
                        padding-left: 4px !important;


                      }

                      .nav-link {
                        font-family: 'Mulish', serif !important;
                      }

                      .navbar {
                        width: 100%;
                      }

                      .sub-menu-wrap {
                        z-index: 100;
                      }

                      @media (max-width: 1024px) {
                        .sub-menu-wrap {
                          position: absolute;
                          top: 100%;
                          left: 1%;
                          width: 320px;
                        }

                        #google_translate_element {
                          position: static;
                          top: 75% !important;
                          right: 60% !important;
                          border-radius: 20px 20px 50px !important;

                        }
                      }

                      @media (max-width: 768px) {
                        #google_translate_element {
                          position: static;
                          top: 75% !important;
                          left: 10% !important;
                          border-radius: 20px 20px 50px !important;

                        }

                      }

                      @media (max-width: 575.98px) {

                        #google_translate_element {
                          position: static;
                          top: 75% !important;
                          left: 18% !important;
                          border-radius: 20px 20px 50px !important;
                          width: 200px !important;


                        }

                        .sub-menu-wrap {
                          position: absolute;
                          top: 100%;
                          left: 1%;
                          width: 320px;
                        }
                      }

                      .sub-menu {
                        box-shadow: 2px 2px 5px 2px #000000;
                      }

                      .sub-menu-link span {
                        font-size: 22px;
                        transition: transform 0.5s;
                      }

                      .sub-menu-link:hover span {
                        transform: translateX(5px);

                      }

                      .sub-menu-link:hover p {
                        font-weight: 600;
                      }

                      .sub-menu-wrap {

                        max-height: 0px;
                        overflow: hidden;
                        transition: max-height 0.5s;
                      }

                      .sub-menu-wrap.open-menu {
                        max-height: 400px;


                      }

                      .gte-menu-wrap {
                        z-index: 100;
                      }

                      .gte-menu {
                        box-shadow: 2px 2px 5px 2px #000000;
                      }



                      .gte-menu-wrap {

                        max-height: 0px;
                        overflow: hidden;
                        transition: max-height 0.5s;
                      }

                      .gte-menu-wrap.open-menu {
                        max-height: 400px;


                      }
                    </style>
                    <script>
                      let subMenu = document.getElementById("subMenu");

                      function toggleMenu() {
                        subMenu.classList.toggle("open-menu")
                      }

                      function gTra(el) {
                        var gtra = document.createElement('script'); gtra.id = 'gTra'; gtra.type = 'text/javascript'; gtra.async = true;
                        gtra.src = '../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit';
                        var el = document.getElementById('gTra');
                        if (el == null) {
                          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gtra, s);
                        }
                        open_translate(el);
                      };

                      function open_translate(elmnt) {
                        var a = document.getElementById("google_translate_element");
                        if (a.style.display == "") {
                          a.style.display = "none";
                          elmnt.innerHTML = "<i class='bx bx-world'></i>";
                        } else {
                          a.style.display = "";
                          if (window.innerWidth > 830) {
                            a.style.width = "32%";
                          } else {
                            a.style.width = "60%";
                          }
                          elmnt.innerHTML = "<span style='font-size:17px;font-family:verdana;font-weight:bold;display:inline-block;text-align:center;'>&times;</span>";
                        }
                      }

                      function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                          pageLanguage: 'en',
                          autoDisplay: false,
                          gaTrack: true,
                          gaId: 'UA-3855518-1',
                          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                        }, 'google_translate_element');
                      }
                    </script>

                  </section>
                </div>
              </div>

        </div>

        </ul>
      </div>
  </div>
  </nav>
  </div>
  <!-- Fin NAVBAR -->

    <h1 class="text-title text-center mt-5">Administración del cuestionario</h1>

    <main>
      <section class="test" style="text-align: end;">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-secondary text-center" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% if msg %}
        <div class="alert alert-danger text-center" role="alert">
          {{ msg | safe }}
        </div>
        {% endif %}
        {% if msgGood %}
        <div class="alert alert-success text-center" role="alert">
          {{ msgGood | safe }}
        </div>
        {% endif %}
        <form action={% url 'funupdateTest' test.id %} method="POST">
          {% csrf_token %}
          <div>
            <h2>Título del test</h2>
            <input type="text" name="txtNombre" id="txtNombre"
              placeholder="Titulo de test" class="title form-control"
              value='{{test.name}}' maxlength="80" required>
            <br></br>
        </div>
        <div>
          <h2>Mensaje pre-test</h2>
          <textarea type="text" name="txtPretest" id="txtPretest"
            placeholder="Pre-Test"
            class="form-control" maxlength="400" required>{{test.pretest_text}}</textarea>
          <br /><br />
        </div>
        <div>
          <h2>Instrucciones test</h2>
          <textarea type="text" name="txtIntroduction" id="txtIntroduction"
            placeholder="Instrucciones" 
            class="form-control" maxlength="400" required>{{test.introduction_text}}</textarea>
          <br /><br />
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
    </section>

    <section class="tabla-preguntas table-responsive" style="text-align: center;">
      <h2>Preguntas</h2>
      <table>
        <tr class="tit-tabla">
          <th>Número</th>
          <th class="pregunta">Pregunta</th>
          <th class="pregunta">Tipo</th>
          <th>Acciones</th>
        </tr>
        {% if questions %}
        {% for question in questions %}
        <tr>
          <td>
            {{forloop.counter}}
          </td>
          <td>
            {{question.question_text}}
          </td>
          <td>
            {{question.question_type}}
          </td>

          <td><div class="container-buttons">

            <div class="column">
            <a class="editar"
              data-toggle="modal" data-target="#editModal{{question.id}}"> </a>
               <p>Editar</p>
           
          </div>

          <div class="column">
            <a  class="eliminar"
              data-toggle="modal" data-target="#deleteModal{{question.id}}"> </a>
              <p>Eliminar</p>
           
          </div>
        </div>
          </td>
          
        </tr>

        <!-- Modal EDIT -->
        <div class="modal fade" id="editModal{{question.id}}" tabindex="-1"
          role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Pregunta</h5>
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action= {% url 'saveQuestion' question.id %} method="POST">
                  {% csrf_token %}
                  <div class="boxModal my-2">
                    <div class="form-group p-0">
                      <p class="text-left"> Pregunta: </p>
                      <input placeholder="Ingrese pregunta" id="txtQuestion" name="txtQuestion" class="form-control" value='{{question.question_text}}' maxlength="200" required/>
                    </div>
                    <p class="text-left"> Tipo de pregunta: </p>
                    <select name="txtType" id="txtType" class="form-control"
                      aria-label="Default select example" required>
                      {% if question.question_type == "depresion" %}
                        <option value="" disabled> Ingrese una opción: </option>
                        <option value="depresion" selected>Depresión</option>
                        <option value="ansiedad">Ansiedad</option>
                        <option value="estres">Estres</option>
                      {% elif question.question_type == "ansiedad" %}
                        <option value="" disabled> Ingrese una opción: </option>
                        <option value="depresion">Depresión</option>
                        <option value="ansiedad" selected>Ansiedad</option>
                        <option value="estres">Estres</option>
                      {% elif question.question_type == "estres" %}
                        <option value="" disabled> Ingrese una opción: </option>
                        <option value="depresion">Depresión</option>
                        <option value="ansiedad">Ansiedad</option>
                        <option value="estres" selected>Estres</option>
                      {% endif %}
                    </select>
                    <div class="form-group p-0">
                      <p class="text-left"> Alternativas: </p>
                      <h5>
                        0
                      </h5>
                      <h5>
                        1
                      </h5>
                      <h5>
                        2
                      </h5>
                      <h5>
                        3
                      </h5>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-around">
                    <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Eliminar -->
        <div class="modal fade" id="deleteModal{{question.id}}" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmación:</h5>
              
              <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action= {% url 'deleteQuestion' question.id %} method="POST">
                {% csrf_token %}
                <div class="boxModal my-2">
                  
                  <h1 class="text-center" style="font-size: 24px;">¿Estás seguro de querer eliminar la Pregunta ?</h1>
                  
                </div>
                <div class="modal-footer justify-content-around">
                  <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success">Aceptar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>








        {% endfor %}
        {% else %}
        <h3> No hay preguntas </h3>
        {% endif %}

      </table>

      <!-- Button trigger modal -->
      {% if test.state_config == True %}
        <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModal" disabled>
          Agregar Pregunta
        </button>
      {% else %}
        <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModal">
          Agregar Pregunta
        </button>
      {% endif %}

      <br></br>
  </section>



  <section class="table-responsive" style="text-align: end;">
    
    <form action={% url 'saveColor' %} method="post">
      {% csrf_token %}
      <h2>Resultados</h2>
      <table class="table">
        <tr class="tit-tabla">
          <th>Nivel</th>
          <th>Color</th>
          <th colspan="2">Depresión</th>
          <th colspan="2">Ansiedad</th>
        </tr>
        <tr>
          <td>Normal</td>
          <td><input type="color" id="txtColor1" name="txtColor1" value={{color_1}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Leve</td>
          <td><input type="color" id="txtColor2" name="txtColor2" value={{color_2}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Moderado</td>
          <td><input type="color" id="txtColor3" name="txtColor3" value={{color_3}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Severo</td>
          <td><input type="color" id="txtColor4" name="txtColor4" value={{color_4}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Extremadamente severo</td>
          <td><input type="color" id="txtColor5" name="txtColor5" value={{color_5}}></td>
          <td colspan="2">28+</td>
  
          <td colspan="2">20+</td>
  
        </tr>
  
      </table>
      <br>
      <div>
        <input type="submit" id="edit" value="Editar">
      </div>
    </form>
  </section>


  <div class="row justify-content-between mt-5">
  <a class="btn btn-primary ml-3" href={% url 'viewRecomendationAdmin' depresionText normalText 'True' %}>
    Configurar Recomendaciones de Depresión
  </a>
  <a class="btn btn-primary mr-3" href={% url 'viewRecomendationAdmin' ansiedadText normalText 'True' %}>
    Configurar Recomendaciones de Ansiedad
  </a>
</div>

    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
      <script type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </body>
  <footer>
    <h1>footer</h1>

  </footer>

</html>