{% comment %}
<h3>Editar Test</h3>
<form action={% url 'funupdateTest' test.id %} method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" id="txtNombre" name="txtNombre" placeholder="Titulo"
      value={{test.name}} />
  </div>
  <div class="form-group">
    <input type="text" id="txtPretest" name="txtPretest" placeholder="Texto
      pre-test" value={{test.pretest_text}} />
  </div>
  <div class="form-group">
    <input type="text" id="txtIntroduction" name="txtIntroduction"
      placeholder="Introducción"
      value={{test.introduction_text}} />
  </div>
  <div class="form-group">
    <button type="submit">Guardar</button>
  </div>
</form>


<a href={% url 'createQuestion' %}>Agregar Pregunta</a>
{% if questions %}
<ul>
  {% for question in questions %}
  <li>
    {{question.question_text}}
    <a href={% url 'viewQuestion' question.id %}>Editar</a>
    <a href={% url 'deleteQuestion' question.id %}>Eliminar</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<h3> No hay preguntas </h3>
{% endif %}


{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endcomment %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saludem - Administrador Depresión y Ansiedad</title>
    <!-- Bootstrap CSS+Fuentes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Mulish&display=swap" rel="stylesheet">
    <!-- Material Iconos -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'static/img' %}">
    <script>
    function zzz() {
      var get = document.getElementsById("get").value;
      document.getElementsById("put").value = get;
    }
  </script>
  </head>

  <body>
    <!-- Modal Agregar -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Pregunta</h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action={% url 'addQuestion' %} method="POST">
            <div class="modal-body">
              {% csrf_token %}
              <div class="boxModal my-2">
                <div class="form-group p-0">
                  <p> Pregunta: </p>
                  <input placeholder="Ingrese pregunta" id="txtQuestion"
                    name="txtQuestion" class="form-control" maxlength="200" required/>
                </div>
                <p> Tipo de pregunta: </p>
                <select name="txtType" id="txtType" class="form-control"
                  aria-label="Default select example" required>
                  <option disabled> Ingrese una opción: </option>
                  <option value="depresion">Depresión</option>
                  <option value="ansiedad">Ansiedad</option>
                  <option value="estres">Estres</option>
                </select>
              </div>

              <div class="modal-footer justify-content-around">
                <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Eliminar-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Pregunta</h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action={% url 'addQuestion' %} method="POST">
            <div class="modal-body">
              {% csrf_token %}
              <div class="boxModal my-2">
                <div class="form-group p-0">
                  <p> Pregunta: </p>
                  <input placeholder="Ingrese pregunta" id="txtQuestion"
                    name="txtQuestion" class="form-control" required/>
                </div>
                <p> Tipo de pregunta: </p>
                <select name="txtType" id="txtType" class="form-control"
                  aria-label="Default select example" required>
                  <option disabled> Ingrese una opción: </option>
                  <option value="depresion">Depresión</option>
                  <option value="ansiedad">Ansiedad</option>
                  <option value="estres">Estres</option>
                </select>
              </div>

              <div class="modal-footer justify-content-around">
                <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



    {% include "admin/navbarAdmin.html" %}
  <!-- Fin NAVBAR -->

    <h1 class="text-title text-center mt-5">Administración del cuestionario</h1>

    <main>
      <section class="test" style="text-align: end;">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-secondary text-center" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% if msg %}
        <div class="alert alert-danger text-center" role="alert">
          {{ msg | safe }}
        </div>
        {% endif %}
        {% if msgGood %}
        <div class="alert alert-success text-center" role="alert">
          {{ msgGood | safe }}
        </div>
        {% endif %}
        <form action={% url 'funupdateTest' test.id %} method="POST">
          {% csrf_token %}
          <div>
            <h2 style="font-size: 20px;">Título del test</h2>
            <input type="text" name="txtNombre" id="txtNombre"
              placeholder="Titulo de test" class="title form-control"
              value='{{test.name}}' maxlength="80" required>
            <br></br>
        </div>
        <div>
          <h2 style="font-size: 20px;">Mensaje pre-test</h2>
          <textarea type="text" name="txtPretest" id="txtPretest"
            placeholder="Pre-Test"
            class="form-control" maxlength="400" required>{{test.pretest_text}}</textarea>
          <br /><br />
        </div>
        <div>
          <h2 style="font-size: 20px;">Instrucciones test</h2>
          <textarea type="text" name="txtIntroduction" id="txtIntroduction"
            placeholder="Instrucciones" 
            class="form-control" maxlength="400" required>{{test.introduction_text}}</textarea>
          <br /><br />
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
      </form>
    </section>

    <section class="tabla-preguntas table-responsive" style="text-align: center;">
      <h2 style="font-size: 20px;">Preguntas</h2>
      <table>
        <tr class="tit-tabla">
          <th>Número</th>
          <th class="pregunta text-center">Pregunta</th>
          <th class="pregunta text-center">Tipo</th>
          <th>Acciones</th>
        </tr>
        {% if questions %}
        {% for question in questions %}
        <tr>
          <td>
            {{forloop.counter}}
          </td>
          <td>
            {{question.question_text}}
          </td>
          <td>
            {% if question.question_type == "depresion" %} Depresión {% endif %} 
            {% if question.question_type == "ansiedad" %} Ansiedad {% endif %}
            {% if question.question_type == "estres" %} Estrés {% endif %}

          </td>

          <td><div class="container-buttons">

            <div class="column">
            <a class="editar"
              data-toggle="modal" data-target="#editModal{{question.id}}"> </a>
               <p>Editar</p>
           
          </div>

          <div class="column">
            <a  class="eliminar"
              data-toggle="modal" data-target="#deleteModal{{question.id}}"> </a>
              <p>Eliminar</p>
           
          </div>
        </div>
          </td>
          
        </tr>

        <!-- Modal EDIT -->
        <div class="modal fade" id="editModal{{question.id}}" tabindex="-1"
          role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Pregunta</h5>
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action= {% url 'saveQuestion' question.id %} method="POST">
                  {% csrf_token %}
                  <div class="boxModal my-2">
                    <div class="form-group p-0">
                      <p class="text-left"> Pregunta: </p>
                      <input placeholder="Ingrese pregunta" id="txtQuestion" name="txtQuestion" class="form-control" value='{{question.question_text}}' maxlength="200" required/>
                    </div>
                    <p class="text-left"> Tipo de pregunta: </p>
                    <select name="txtType" id="txtType" class="form-control"
                      aria-label="Default select example" required>
                      {% if question.question_type == "depresion" %}
                        <option value="" disabled> Ingrese una opción: </option>
                        <option value="depresion" selected>Depresión</option>
                        <option value="ansiedad">Ansiedad</option>
                        <option value="estres">Estres</option>
                      {% elif question.question_type == "ansiedad" %}
                        <option value="" disabled> Ingrese una opción: </option>
                        <option value="depresion">Depresión</option>
                        <option value="ansiedad" selected>Ansiedad</option>
                        <option value="estres">Estres</option>
                      {% elif question.question_type == "estres" %}
                        <option value="" disabled> Ingrese una opción: </option>
                        <option value="depresion">Depresión</option>
                        <option value="ansiedad">Ansiedad</option>
                        <option value="estres" selected>Estres</option>
                      {% endif %}
                    </select>
                    <div class="form-group p-0">
                      <p class="text-left"> Alternativas: </p>
                      <h5>
                        0
                      </h5>
                      <h5>
                        1
                      </h5>
                      <h5>
                        2
                      </h5>
                      <h5>
                        3
                      </h5>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-around">
                    <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Eliminar -->
        <div class="modal fade" id="deleteModal{{question.id}}" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmación:</h5>
              
              <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action= {% url 'deleteQuestion' question.id %} method="POST">
                {% csrf_token %}
                <div class="boxModal my-2">
                  
                  <h1 class="text-center" style="font-size: 24px;">¿Estás seguro de querer eliminar la Pregunta ?</h1>
                  
                </div>
                <div class="modal-footer justify-content-around">
                  <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success">Aceptar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>








        {% endfor %}
        {% else %}
        <h3> No hay preguntas </h3>
        {% endif %}

      </table>

      <!-- Button trigger modal -->
      {% if test.state_config == True %}
        <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModal" disabled>
          Agregar Pregunta
        </button>
      {% else %}
        <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#exampleModal">
          Agregar Pregunta
        </button>
      {% endif %}

      <br></br>
  </section>



  <section class="table-responsive" style="text-align: end;">
    
    <form action={% url 'saveColor' %} method="post">
      {% csrf_token %}
      <h2>Resultados</h2>
      <table class="table">
        <tr class="tit-tabla">
          <th>Nivel</th>
          <th>Color</th>
          <th colspan="2">Depresión</th>
          <th colspan="2">Ansiedad</th>
        </tr>
        <tr>
          <td>Normal</td>
          <td><input type="color" id="txtColor1" name="txtColor1" value={{color_1}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Leve</td>
          <td><input type="color" id="txtColor2" name="txtColor2" value={{color_2}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Moderado</td>
          <td><input type="color" id="txtColor3" name="txtColor3" value={{color_3}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Severo</td>
          <td><input type="color" id="txtColor4" name="txtColor4" value={{color_4}}></td>
          <td>Min</td>
          <td>Max</td>
          <td>Min</td>
          <td>Max</td>
        </tr>
        <tr>
          <td>Extremadamente severo</td>
          <td><input type="color" id="txtColor5" name="txtColor5" value={{color_5}}></td>
          <td colspan="2">28+</td>
  
          <td colspan="2">20+</td>
  
        </tr>
  
      </table>
      <br>
      <div>
        <input type="submit" id="edit" value="Editar">
      </div>
    </form>
  </section>


  <div class="row justify-content-between mt-5">
  <a class="btn btn-primary ml-3" href={% url 'viewRecomendationAdmin' depresionText normalText 'True' %}>
    Configurar Recomendaciones de Depresión
  </a>
  <a class="btn btn-primary mr-3" href={% url 'viewRecomendationAdmin' ansiedadText normalText 'True' %}>
    Configurar Recomendaciones de Ansiedad
  </a>
</div>

    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
      <script type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </body>
  {% include "admin/footer.html" %}
</html>