@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Mulish&display=swap");

:root {
  --color-botonPrimario: #ecc5e0;
  --color-botonSecundario: ;
}

.btn-success {
  background: var(--color-botonPrimario) !important;
  border: var(--color-botonPrimario);
  color: black;
}
.btn-primary {
  background: var(--color-botonPrimario) !important;
  border: var(--color-botonPrimario);
  color: black;
}
.bx-world {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.652) !important;
  font: size 16px;
}

.nav-item .bx-world:hover {
  color: #fff !important;
}

a {
  text-decoration: none;
  color: black;
  font: size 16px;
}
header {
  display: flex;
  min-height: 70px;
  background-color: #aeaff7;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/*Estilo Tablas*/

.table-responsive {
  width: 100%;
}

.table-responsive,
td,
th {
  border: 1px solid black !important;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
  width: 100%;
}
th {
  background-color: #aeaff7;
  width: 100%;
}

.text-title {
  text-align: center;
  font-weight: 600px;
  padding-bottom: 15px;
  max-width: 100%;
  width: 100%;
  font-family: "Abhaya Libre", serif;
  box-sizing: border-box;
}

.text-title2 {
  text-align: center !important;
  font-weight: 600px !important;
  padding-bottom: 15px !important;
  max-width: 100%;
  width: auto;
  font-size: 25px;
  font-family: "Mulish", serif !important;
  box-sizing: border-box !important;
}

body {
  font-family: "FontAwesome", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 6003;
  padding-bottom: 15px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  padding-bottom: 15px;
  font-size: 17px;
  width: 100%;

  box-sizing: border-box;
}

h3 {
  font-size: 17px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* @media (min-width: 1200px) { 
    .container-fluid{
        width: 100%;


    
        justify-content: center;
        margin: 0;
    }
    .filtrar{
        margin-left: -400px;
        margin-top: 31px;
    }
    .nivel{
        margin-left: -165px;
    }
    #selectLevel2{
        margin-left: -168px;
    }
 } */

@media (max-width: 768px) {
  .container-fluid {
    width: 98%;
    max-width: 150rem !important;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .filtrar {
    margin-left: -25px;
    margin-top: 31px;
  }
  .nivel {
    margin-left: -17px;
  }
  #selectLevel2 {
    margin-left: -17px;
  }
}

.form-control {
  width: 360px;
  height: 50px;
}

h5 {
  font-weight: 100;
  font-size: 17px;
}

.text {
  font-size: 15px;
}
.ratio {
  width: "560px";
  height: "315px";
}

.container-buttons {
  display: flex;
  justify-content: space-evenly;
}

.container-buttons a {
  width: 50px;
  height: 30px;
  display: block;
  border-radius: 40%;
  /* line-height: 70px; */
  color: rgb(0, 0, 0);

  text-decoration: none;
  overflow: hidden;
  font-size: 1.4rem;
}

.container-buttons .editar::after {
  content: "\f044";
  display: block;
}

.container-buttons .eliminar::after {
  content: "\f1f8";
  display: block;
}
.container-buttons a {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  /* line-height: 70px; */
  color: rgb(0, 0, 0);

  text-decoration: none;
  overflow: hidden;
  font-size: 2.2rem;
}
.container-buttons a::before {
  content: "\f141";
  display: block;
  margin: 0px 0;
  transition: all 0.5s ease-in-out;
}

.container-buttons a:hover::before {
  margin-top: -50px;
}

.container-buttons a::after {
  content: "\f141";
  display: block;
}

.container-buttons .editar::after {
  content: "\f044";
  display: block;
}

.container-buttons .eliminar::after {
  content: "\f1f8";
  display: block;
}

.container-buttons .editar::before {
  content: "\f044";
}

.container-buttons .eliminar::before {
  content: "\f1f8";
}

.sombra {
  -webkit-box-shadow: 0px 0px 17px 5px rgba(189, 189, 189, 0.73);
  -moz-box-shadow: 0px 0px 17px 5px rgba(189, 189, 189, 0.73);
  box-shadow: 0px 0px 17px 5px rgba(189, 189, 189, 0.73);
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .sombra {
    display: grid;
  }
}

.text-area {
  width: 80%;
  height: 8rem;
}
