
  

.bx-world {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.652) !important;
    font: size 16px;
}

.nav-item .bx-world:hover {
    color: #FFF !important;
}


a {
    text-decoration: none;
    color: black;
    font: size 16px;
}
.container .container-fluid{
    margin-top: 50px !important;
    border: solid#cccc !important;
    border-radius: 10px;
    background: #D7D7FB;
    width: 100%;
    padding-top: 90px !important;
    padding-bottom: 90px !important;
   
}
.contenedorHeader .count{
    border-bottom:1px solid #cccc !important;
    padding-bottom: 10px !important;
    line-height: 25px !important;
    font-weight: 600;
}
.contenedor-principal{
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px #060505
}
.contenedor-principal .question{
    font-size: 30px;
    color: #000;
    line-height: 28px;
    font-weight: 400;
    padding: 25px 0;
    margin: 0;
}

.btn, #anterior, #siguiente{
    background: #D7D7FB;
    color: #090909;
    border: #AEAFF7;
    margin: auto ;
    box-shadow: 0px 2px 3px 0px #060505
}


.card{
    margin: auto;
    width: 100%;
    box-shadow: 0px 2px 3px 0px #060505
}
























@media (min-width: 992px){ 
.formulario .radio label{
    width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #090909;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.formulario .radio label:hover{

 background: #AEAFF7; 
}

.formulario .radio label:before{
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid rgba(7, 6, 6, 0.8); }
.formulario input[type="radio"] {

  display: none;
 }

.formulario input[type="radio"]:checked + label:before {

    display: none; 
}

.formulario input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #ECC5E0;
    border-radius: 2px;
    color: rgb(21, 17, 17); 
}


}







@media (min-width: 767px) and (max-width: 960px) { 
    .container .container-fluid{
        border: solid#cccc !important;
        border-radius: 10px;
        background: #D7D7FB;
        width: 100%;
        height: 100%;
       
    }
    .container .contenedor-principal {
        
        width: 100%;
        height: 100%;
       
    }
    .formulario .radio label{
        width: 100%;
      display: inline-flex;
      cursor: pointer;
      color: #090909;
      position: relative;
      padding: 5px 1px 5px 50px;
      font-size: 1em;
      border-radius: 5px;
      
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; 
    }
    .formulario .radio label:hover{
    
     background: #AEAFF7; 
    }
    
    .formulario .radio label:before{
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid rgba(7, 6, 6, 0.8); }
    .formulario input[type="radio"] {
    
      display: none;
     }
    
    .formulario input[type="radio"]:checked + label:before {
    
        display: none; 
    }
    
    .formulario input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: #ECC5E0;
        border-radius: 2px;
        color: rgb(21, 17, 17); 
    }
    
    
    }



@media (min-width: 279px) and (max-width: 492px) { 

    .container .container-fluid{
        border: solid#cccc !important;
        border-radius: 10px;
        background: #D7D7FB;
        width: auto;
        height: auto;
       
    }
    .contenedor-principal{
       margin-bottom: 10px;
    }
    .container .contenedor-principal {
        
        width: auto;
        height: auto;
       
       
    }

    .contenedor-principal .question{
        width: 100%;
        font-size: 16px;
    }
    .contenedor-principal .count{
        width: 100%;
        font-size: 14px;
        
    }
    .formulario .radio label{
      
      display: inline-block;
      cursor: pointer;
      color: #090909;
      position: static;
      padding: 10px 10px 10px 40px;
      
     
      
      
      line-height: 20px;
      text-align: center;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; 
    }
    .formulario .radio label:hover{
    
     background: #AEAFF7; 
    }
    .radio{
        margin-right: 27%;
    }
    .form-check{
        display: flex;
        text-align: center;
        align-items: center;
        margin-left: 40%;
       
        
    }
  
    .formulario .radio label:before{
        content: "";
        text-align: center;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 10px;
        border-radius: 50%;
        background: none;
        border: 3px solid rgba(7, 6, 6, 0.8); }
    .formulario input[type="radio"] {
    
      display: none;
     }
    
    .formulario input[type="radio"]:checked + label:before {
    
        display: none; 
    }
    
    .formulario input[type="radio"]:checked + label {
        padding: 4px 20px;
        flex-wrap: wrap;
        background: #ECC5E0;
        border-radius: 2px;
        color: rgb(21, 17, 17); 
    }
    
}
@media (min-width: 493px) and (max-width: 765px) { 

    .container .container-fluid{
        border: solid#cccc !important;
        border-radius: 10px;
        background: #D7D7FB;
        width: 100%;
        height: 100%;
       
    }
    .container .contenedor-principal {
        
        width: 100%;
        height: 100%;
       
    }
    .formulario .radio label{
        width: 100%;
      display: inline-flex;
      cursor: pointer;
      color: #090909;
      position: relative;
      padding: 5px 1px 5px 50px;
      font-size: 1em;
      border-radius: 5px;
      margin: 1px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; 
    }
    .formulario .radio label:hover{
    
     background: #AEAFF7; 
    }
    
    .formulario .radio label:before{
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 3px solid rgba(7, 6, 6, 0.8); }
    .formulario input[type="radio"] {
    
      display: none;
     }
    
    .formulario input[type="radio"]:checked + label:before {
    
        display: none; 
    }
    
    .formulario input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: #ECC5E0;
        border-radius: 2px;
        color: rgb(21, 17, 17); 
    }
    
    
    }
