
/*Css vista Administrador*/
/*Header General*/

a{
    text-decoration: none;
    color: black;
    font: size 16px;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #AEAFF7;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px  ;
    margin-top: 10px;
}
nav a{
    font-weight: 200;
    padding-right: 10px;
}
nav a:hover{
    color: #FFF;
}:last-child
@media (max-width:700px){
    header{
    flex-direction: column; }
    nav{
    padding: 10px 0px; }
} 


/*Footer General*/

footer{
    background-color: #AEAFF7;
    padding: 20px;
}

/*Body*/

body{
    font-family: sans-serif;
    margin: 0;  
}
main{
    margin: 50px;
}

h1{
    text-align: center;
    font-weight: 600; 
    padding-bottom: 15px;   
}
h2{
    text-align: start;
    font-weight: 100;
    font-size: 14px;  
}
.title{
    display: inline;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
/*Estilo de boton*/

.add-quest{
   
   display: inline;
   padding: 5px ; 
   
}
.add-ico{
    display: inline; 
    height: 20px;
    width: 20px;
    
}

/*Estilo Tablas*/

 
table, td, th{
    border: 1px solid black;
    border-collapse:collapse ; 
    text-align: center;
}
table{
    width: 100%;
}
th, td{
    padding: 10px;
}
th{
    background-color: #AEAFF7;
}
.pregunta{
    text-align: start;
}

#edit{
    content: "\f119";
}

.container {
   
    top: 0; right: 0; bottom: 0; left: 0;
    height: 40px;
    margin: auto;
    
  }
  
  /** Switch
   -------------------------------------*/
  
  .switch input {
    position: absolute;
    opacity: 0;
  }
  
  /**
   * 1. Adjust this to size
   */
  
  .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
  }
  
  .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }
  
  .switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }


/*css autodiagnostico*/

.instruction{
    text-align: start;
}

.instruction h2{
    font-weight: 100;
    font-size: 18px;  
}

.instruction h3{
    font-weight: 100;
    font-size: 14px;  
}

.autodiag{
    text-align: center;
}

.question h1{
    text-align: start;
    text-indent: 50px;
    font-weight: 100;
    font-size: 20px;
}

.question input{
    margin-right: 40px;
    width: 40px;
    height: 30px;
}

.question input:hover{
    background-color: #AEAFF7;
}

/*login template*/

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 30rem;
    height: 40rem;
}

.card-recu{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 30rem;
    height: 30rem;
}

.card-create{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 30rem;
    height: 70rem;
}

.content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content p{
    font-size: 1.3rem;
    align-self: flex-start;
    text-align: center;
}

.text{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    padding: .5rem;
    box-shadow: .2rem .2rem .2rem rgba(0,0,0,0.3);
}  

.ref{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
}

.but{
    border-radius: 1rem;
    background-color: rgba(174, 175, 247, 0.5);
    font-size: 1.2rem;
    padding: .5rem;
    letter-spacing: .1rem;
}

.but:hover{
    background-color: rgba(150, 175, 247, 0.5);
}