<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS+Fuentes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin_Profesionales.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>
     <!-- Inicio del menu -->
     <nav style="background: #AEAFF7; ; " class="navbar navbar-expand-lg navbar-expand-xs navbar-light">
      <div class="container-fluid">
      <!-- icono o nombre -->

      <a class="navbar-brand" href="#">
          <img src="img/logo.png" alt="logo" width="50px">
        <span style="color: #000000;">Saludem</span>
      </a>
          
      <!-- boton del menu -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- elementos del menu colapsable -->
      <div class="collapse navbar-collapse " id="menu" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-auto">
              <a class="nav-link" href="#">Test Autodiagnóstico</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Técnicas de relajación</a>
          </li>
          <li class="nav-item ml-auto">
              <a  class="nav-link" href="#">Diario Emocional</a>
          </li>
          <li class="nav-item ml-auto">
              <a class="nav-link" href="#">Agendar Cita</a>
          </li>
          <li class="nav-item ml-auto">
              <a class="nav-link" href="#">FAQ</a>
          </li>
            <li class="nav-item ml-auto">
              <img src="img/Esp1.png" width="45px" style="border-radius:100%">           
             </li>
          </li>
        </ul>
      </div>
      </div>  
    </nav>
     
    <br/> </br>
     <!-- Titulo principal -->
     <center><h1 id="title" class="d-block p-4">Administración de Emociones</h1></center>
 
    <!-- Subtitulo-->
    <center><div class="d-inline p-5  text-black"></center>
        
    <center><h2 style="margin-left: 15px;">Editar emoción</h2></center>
        </div>
            
    <div class="container-fluid">

<form action="{% url 'funupdateEmocion' emocion.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <center><img src={{emocion.imagen_emocion.url}} alt="Imagen emoción" height="100" width="100"/>
  <div class="form-group">
    <input type="text" id="Nombre" name="Nombre" placeholder="Nombre emoción" value="{{emocion.nombre}}"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Editar</button>
  </div>
  <div class="form-group">
    <a class="btn btn-primary" href="/diario_emocional/allEmocion/">Regresar</a></center>
  </div>
</form>
