<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Mulish&display=swap');


a .nav-link{
    font-family: 'Mulish', serif!important;
}
html {
    min-height: 100%;
    position: relative;
  }


  body {
    margin: 0;
    margin-bottom: 40px;
  }

  footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    
    background-color: #AEAFF7;
    min-height: 7vh; 
  }


>>>>>>> origin

a{
    text-decoration: none;
    color: black;
    font: size 16px;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #AEAFF7;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px  ;
    margin-top: 10px;
}
nav a{
    font-weight: 200;
    padding-right: 10px;
}
nav a:hover{
    color: #FFF;
}:last-child


<<<<<<< HEAD
body{
    font-family: sans-serif;
    margin: 0;  
}
main{
    margin: 70px;
}
=======
>>>>>>> origin

h1{
    text-align: center;
    font-weight: 600; 
    padding-bottom: 15px;   
}
h2{
    text-align: start;
    font-weight: 100;
    font-size: 14px;  
}
<<<<<<< HEAD
/*menu*/
=======


>>>>>>> origin

button{ 
    
    display: inline-block;
    font-size: 70px;
    padding: 60 100px;
    border-radius: 8%;
<<<<<<< HEAD
    border-color: white;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    cursor: pointer;
}
h3{
    display: inline;
    font-size: 25px;
}
=======
    border: none;
    cursor: pointer;
}

>>>>>>> origin

a{
    margin:0
}
a:hover {
    text-decoration: none; /* no underline */
  }

<<<<<<< HEAD
/*color*/

button.pink{
    background-color:#ECC5E0 ;
    box-shadow: 0px 3px 0px black;
=======

button.pink{
    background-color:#ECC5E0 ;
    box-shadow: 0px 4px 0px #BDBDBD;
>>>>>>> origin
    padding: 60 120px;
}
button.orange{
    background-color: #EED2A6;
<<<<<<< HEAD
    box-shadow: 0px 3px 0px black;
=======
    box-shadow: 0px 4px 0px #BDBDBD;
>>>>>>> origin
    padding: 60 120px;
}
button.green{
    background-color:#B6DDBE ;
<<<<<<< HEAD
    box-shadow: 0px 3px 0px black;
    padding: 60 120px;
}
button.gray{
    background-color: #EDE6FC;
    box-shadow: 0px 3px 0px black;
=======
    box-shadow: 0px 4px 0px #BDBDBD;
    padding: 60 120px;
}
button.gray{
    background-color: #d7d7fb;
    box-shadow: 0px 4px 0px #BDBDBD;
>>>>>>> origin
    padding: 60 120px;
}
button.blue{
    background-color: #ACDAF0;
<<<<<<< HEAD
    box-shadow: 0px 3px 0px black;
}

button.end{
    background-color: #ACDAF0;
    box-shadow: 0px 3px 0px black;
    padding: 15 10px;
    font-size: 20px;
}
button h3{
    font-size: 20px;
=======
    box-shadow: 0px 4px 0px #BDBDBD;
    padding: 60 120px;
}
button.crema{
    background-color: #fcedac;
    box-shadow: 0px 4px 0px #BDBDBD;
    padding: 60 120px;
}

button.end{
    
    background-color: #ACDAF0;
    box-shadow: 0px 4px 0px #BDBDBD;
    padding: 15 10px;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 100px;
    margin-bottom: -35px;
    
    
}

button h3{
    font-size: 20px;
}

h3{
    text-align: center;
    align-items:flex-end;
    font-size: 25px;
    padding-top: 10px;
}
h4{
    text-align: start;
    font-weight: 100;
    font-size: 25px; 
}




.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.foto{
        display: block;
        margin: auto;
}

.botonb{
    width: 100%;
    height: 100%;
    
}

.botonc {
    width: 70%;
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10%;
    transition: background-color .3s ease;
    margin: auto;
    
}

.botonc:hover {
    cursor: pointer;
    background-color: #e7fde7 ;
>>>>>>> origin
}