@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* ROOT */

html {
  height: 100%;
  margin: 0%;
}

:root {
  --color-dark: #272727;

  --color-sublist-before: #BDBDBD;
  --color-active:  rgba(0, 0, 0, 0.07);
  --color-hover: rgba(0, 0, 0, 0.09);
  --color-focus: rgba(0, 0, 0, 0.02);
  --color-border: rgba(0,0,0, 0.125);
  --color-seperator: rgba(0,0,0, 0.1);

  --height-navbar: 67px;
  --width-sidebar-small: 70px;
  --width-sidebar-large: 260px;
  --sidebar-icon-size: 48px;

  --transition-duration: 200ms;
}


/** GLOBALS **/


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* OVERRIDES */
 
/*Footer General*/
footer{
  background: #AEAFF7;
  margin-top: 100px !important;
  padding: 12px;
  width: 105% !important;
  height: 100%;
  position: static;
 
}
.navbar {
  box-shadow: var(--color-border) 0 1px 0;
 
  width: 100%;
}
.navbar{
  position: fixed !important;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 25 ;
  padding-top: 10px !important;
 
  
  
}
.navbar .navbar-brand{
  position: relative;
}

.tituloSoporte{
  text-align: center;
  font-weight: 600; 
  padding-bottom: 45px;   
  max-width: 100%;
  width: 100%;
  font-family: 'Abhaya Libre', serif !important;
  box-sizing: border-box;
}

.cerrarSesion{
  font-size: 20px;
  width: 100%;
  margin-top: 40px;
  
}
.row{
  padding-top: 30px;
  width: auto;
  margin: auto;
  

}
.contenedor {
  border-radius: 10px;
  border: 1px solid rgba(7, 6, 6, 0.8)!important;
  font-family: 'FontAwesome', sans-serif;
  margin-bottom: 30px;
  margin-left: auto;
}

/* GENERAL */
.container-fluid{
  position:static;
  
}

.page-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.btn-group.show {
  background-color: var(--color-hover) !important;
}

.btn-clean {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}
.btn-clean:hover {
  background-color: var(--color-hover) !important;
}
.btn-clean.focus, .btn-clean:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.separator {
  background-color: var(--color-seperator);
  height: 1px;
  margin: 0 10px;
}

.expanded-only {
  display: none;
  transition: all var(--transition-duration);
}
.expanded .expanded-only {
  display: flex;
}

/* NAVBAR */
.tuerca{
  position: absolute;
  margin-bottom: 30px;
  padding-left: 10px;
  width: auto !important;
  height: 50px !important;
  left: -12px;
  bottom: -20px;
  
 
  
}
.caras{
  position: absolute;
  margin-bottom: 30px;
  padding-left: 10px;
  width: auto !important;
  height: 50px !important;
  left: -5px;
  bottom: -20px;
}
.perfil{
  position: absolute;
  margin-bottom: 30px;
  padding-left: 10px;
  width: auto !important;
  height: 50px !important;
  left: -7px;
  bottom: -20px;
}
.test{
  position: absolute;
  margin-bottom: 30px;
  padding-left: 10px;
  width: auto !important;
  height: 50px !important;
  left: 13px;
  bottom: -20px;
}

.list-group-item{
  height: 70px;
  margin-top: 0; 
  border: 2px solid black;
}
/*---------------------------------------------Body---------------------------------------------*/

/* SIDEBAR */
.sidebar-container {
  transition: all var(--transition-duration);
  z-index: 1;
  position: fixed;
  height: 100% !important;
  

  
}
.colapsar.width {
  height: auto;
  width:0;
  transition-delay: 0!important;
  transition: width inherit;
  text-decoration: transparent;
}

.colapsar{
  min-width: 100%;
  text-decoration: transparent;
}

.sidebar-content {

  width: var(--width-sidebar-small);
  transition: width var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  border-right: 10px solid var(--color-border);
  white-space: nowrap;
  height: 100% !important;
  background: #CCCCCC;
   
}
.sidebar-content.expanded {
  transition-duration: var(--transition-duration);
  width: var(--width-sidebar-large);
}

.sidebar-content .collapsible-section {
  display: flex;
  flex-direction: column;
}
.sidebar-content.expanded .collapsible-section {
  display: flex;
  flex-direction: row;
}

.sidebar-item.active {
  background-color: var(--color-active);
}

.sidebar-item:hover {
  text-decoration: none;
  background-color: var(--color-hover) !important;
}

.sidebar-item.active::before {
  background-color:#FBDFEE;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 0.25rem;
}

.sidebar-item::after {
  display: none !important;
}

.sidebar-item.dropdown-toggle::before,
.sidebar-sub-items::before {
  background-color: var(--color-sublist-before);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 0.25rem;
} 

.sidebar-icon {
  padding-bottom: 12px;
  padding-top: 12px;
  height: var(--sidebar-icon-size) !important;
  width: var(--sidebar-icon-size) !important;
}

.sidebar-item:hover {
  color: var(--color-dark) !important;
  background-color: var(--color-hover) !important;
}

.rotated-icon {
  transition-duration: var(--transition-duration);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#sidebarAdd,
#sidebarCollapse {
  cursor: pointer;
}
#sidebarAdd:hover,
#sidebarCollapse:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

/* MAIN */

.main-content {
  overflow-x: hidden;
  overflow-y: auto;
  transition: all var(--transition-duration);
}


/* ANIMACION BOTON BURGER */

.animated-burger-menu {
  width: 22px;
  height: 16px;
  position: relative;
  
  border: 1px px solid  #ECC5E0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: calc(var(--transition-duration) * 2) ease-in-out;
  -moz-transition: calc(var(--transition-duration) * 2) ease-in-out;
  -o-transition: calc(var(--transition-duration) * 2) ease-in-out;
  transition: calc(var(--transition-duration) * 2) ease-in-out;
  cursor: pointer;
}

.animated-burger-menu span {
  display: block;
  position: absolute;
  border: 2px solid  #ECC5E0;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: var(--transition-duration) ease-in-out;
  -moz-transition: var(--transition-duration) ease-in-out;
  -o-transition: var(--transition-duration) ease-in-out;
  transition: var(--transition-duration) ease-in-out;
}

.animated-burger-menu span:nth-child(1) {
  top: 0px;
}

.animated-burger-menu span:nth-child(2),
.animated-burger-menu span:nth-child(3) {
  top: 7px;
}

.animated-burger-menu span:nth-child(4) {
  top: 14px;
}

.animated-burger-menu.open span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%;
  opacity: transparent;
  display: none;
  background: none ;
  border: none;
}

.animated-burger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-burger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-burger-menu.open span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%;
  opacity: transparent;
  display: none;
  background: none ;
  border: none;
}



a{
  text-decoration: none;
  color: black;
  font: size 16px;
}

.separador{
  height: 120px;
}