:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

/*  Globales **/
html {
    
    box-sizing: border-box; /* Hack para Box Model **/
    min-height: 100%;
    position: relative;
}


*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 18px; /* 1rem = 10px */
    
    
}
.container{
    max-width: 700px;
    margin: 0 auto;

}


/* Tipografia */
h1 {
    
    text-align: center;
    font-size: 46px !important;        
    font-family: 'Abhaya Libre', serif;
}

.boton{
        background-color: #007bff;
        color: var(--blanco);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        border: none;
        text-align: center;
    
    
}
.enviar{
    
        background-color: #007bff;
        color: var(--blanco);
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        border: none;
    

}
/** Registrarse **/
.formulario {
    
    width: min( 40rem, 100% );
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 10px 8px 8px #afaff7;
    background: #ffffff;
}

.formulario fieldset {
    border: none;
}


.campo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
    
}
.campo input{
    height: 30px;
}
.campo label {
    color: black;
    margin-bottom: .5rem;
    display: block;
}
.asd{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}