@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Mulish&display=swap');
/*Css vista Administrador*/
/*Header General*/

a{
    text-decoration: none;
    color: black;
    font: size 16px;
}



/*Footer General*/

footer{
    background-color: #AEAFF7;
    padding: 20px;
}

/*Body*/

body{
    font-family:'FontAwesome', sans-serif;
    margin: 0;  
}
main{
    margin: 50px;
}

.text-title{
  text-align: center;
  font-weight: 600px; 
  padding-bottom: 15px;   
  max-width: 100%;
  width: 100%;
  font-family: 'Abhaya Libre', serif;
  box-sizing: border-box;
}

.text-title2{
  text-align: start !important;
  font-weight: 600px !important; 
  padding-bottom: 15px !important;   
  max-width: 100% !important;
  width: 100% !important;
  font-family: 'Mulish', serif!important;
  box-sizing: border-box !important; 
}


textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
/*Estilo de boton*/

.add-quest{
   
   display: inline;
   padding: 5px ; 
   
}
.add-ico{
    display: inline; 
    height: 20px;
    width: 20px;
    
}

/*Estilo Tablas*/

 
table, td, th{
    border: 1px solid black;
    border-collapse:collapse ; 
    text-align: center;
}
table{
    width: 100%;
}
th, td{
    padding: 10px;
}
th{
    background-color: #AEAFF7;
}
.container-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .container-buttons a {
    width: 55px;
    height: 35px;
    display: block;
    border-radius: 50%;
    /* line-height: 70px; */
    color: rgb(0, 0, 0);
    
    text-decoration: none;
    overflow: hidden;
    font-size: 2.2rem;
    
  }

  .container-buttons a::before {
    content: "\f141";
    display: block;
    margin: 0px 0;
    transition: all .5s ease-in-out;
  }
  
  .container-buttons a:hover::before {
    margin-top: -35px;
  }
  
  .container-buttons a::after {
    content: "\f141";
    display: block;
  }

  .container-buttons .editar::after {
    content: "\f044";
    display: block;
  }

  .container-buttons .eliminar::after {
    content: "\f1f8";
    display: block;
  }

  .container-buttons .editar::before {
    content: '\f044';
  }
  
  .container-buttons .eliminar::before {
    content: '\f1f8';
  }
