.bx-world{
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.652) !important;
    font: size 16px;
}

.nav-item .bx-world:hover{
    color: #FFF !important;
}



/*Footer General*/
footer{
    background: #AEAFF7;
    padding: 48px;
}



.text-title{
    text-align: center;
    font-weight: 600px; 
    padding-bottom: 15px;
    max-width: 100%;
    width: 100%;
    font-family: 'Abhaya Libre', serif;
    box-sizing: border-box;
}

/*Body*/

body{
    font-family: sans-serif;
    margin: 0;  
      
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    
}



.btn-continuar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        display: inline-block;
        margin-top: 15px;
        padding: 10px 40px;
        border: 2px solid #fbdfee;
        color: rgb(0, 0, 0);
        text-decoration: none;
        background: #fbdfee;
        border-radius: 3%;

}

.btn-continuar a {
    margin: 0 50px;
}


/*Ventana emergente para los botones ¿Qué hacer?*/


.contenidoGeneral p{
    font-size:20px;
 
}
.resultado{
  font-size: 30px;
}
h2{
    font-size: 60px;
    margin-top: 0px;
}


.contenidoGeneral h3{
    font-size: 20px;
    margin-top: 40px;
}



@media (min-width: 992px) { 

    .contenidoGeneral{
        width: 100%;
        max-width: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
       
        
        
    }
 }


h5{
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    margin-top: 0px;
}



@media (min-width: 768px) and (max-width: 960px) { 

    
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        
    }
  
    .contenidoDepresion{
        transform: translateX(-18%);
        width: 60%;
       
    }

    .contenidoAnsiedad{
        transform: translateX(-18%);
        width: 60%;
       
    }

    .contenidoEstrés{
        transform: translateX(-18%);
        width: 60%;
       
    }
 }

@media (max-width: 575.98px)  { 

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        
    }
  
    .contenidoDepresion{
        transform: translateX(-18%);
        width: 60%;
       
    }

    .contenidoAnsiedad{
        transform: translateX(-18%);
        width: 60%;
       
    }

    .contenidoEstrés{
        transform: translateX(-18%);
        width: 60%;
       
    }
 }

#flechaEstrés{
    transition: .5s;
}







/*Extremadamente severo*/
#flechaDepresion5{
    transform: translateY(40%);
}
/*Severo*/

#flechaDepresion4{
    transform: translateY(20%);
}
/*Moderado*/

#flechaDepresio3{
    transform: translateY(0%);
}
/*Leve*/ 
 
#flechaDepresion2{
    transform: translateY(-20%);
}
/*Normal*/

#flechaDepresion1{
    transform: translateY(-40%);
}
/*Extremadamente severo*/
#flechaAnsiedad5{
    transform: translateY(40%);
}
/*Severo*/
#flechaAnsiedad4{
    transform: translateY(20%);
}
/*Moderado*/

#flechaAnsiedad3{
    transform: translateY(0%);
}
/*Leve*/ 
 
#flechaAnsiedad2{
    transform: translateY(-20%);
}
/*Normal*/

#flechaAnsiedad1{
    transform: translateY(-40%);
}
/*Extremadamente severo*/
#flechaEstres5{
    transform: translateY(40%);
}
/*Severo*/
#flechaEstres4{
    transform: translateY(20%);
}
/*Moderado*/
#flechaEstres3{
    transform: translateY(0%);
}
/*Leve*/ 
#flechaEstres2{
    transform: translateY(-20%);
}
/*Normal*/
#flechaEstres1{
    transform: translateY(-40%);
}