a{
    text-decoration: none;
    color: black;
    font: size 16px;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #AEAFF7;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px  ;
    margin-top: 10px;
}
nav a{
    font-weight: 200;
    padding-right: 10px;
}
nav a:hover{
    color: #FFF;
}:last-child


/*Footer General*/

footer{
    background-color: #AEAFF7;
    padding: 20px;
}

/*Body*/

body{
    font-family: sans-serif;
    margin: 0;  
}
main{
    margin: 50px;
}

h1{
    text-align: center;
    font-weight: 600; 
    padding-bottom: 15px;   
}

h5{
    
    font-weight: 100;
    font-size: 25px;  
}
h5, p{
    text-align: center;
}


/*css termometro*/

/*Ventana emergente para los botones ¿Qué hacer?*/
.modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
.contenedor{
	width: 800px;
	height: 500px;
	margin: auto;
	background: rgb(249, 249, 249);
	
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 

.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: rgb(0, 0, 0);
	font-size: 15px;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px;
    
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}
.lbl-modal{
	background: #d7d7fb;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
    padding-left: 20px;
    
}

.btn-aceptar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn-aceptar a {
    margin: 0 50px;
} 

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}


/*Espacio para la depresion*/
.depresion{
    top: 30px;   
    position: relative;
    right: -70px;
    display: inline-block;

}

/*Espacio para la ansiedad*/
.ansiedad{
    
    position: relative;
    left: 1000px;
    top: -300px;
    display: inline-block;
}

/*Estilo botones*/


.btnsD {
    display:inline-flex;
    margin-top: 40px;
    margin-bottom: 200px;
    padding: 10px 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: #b5b5bd;
    border-radius: 3%;
}

.btnsD:hover {
    background: none;
    
}

.btnsD-queHacer {
        margin: 0 100px;
}



.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #fbdfee;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: #fbdfee;
    border-radius: 3%;
}
.btn:hover {
    background: none;
    
}
.btn-continuar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn-continuar a {
    margin: 0 50px;
}

/*Termometro para la depresion*/

aside{
    position: relative;
    top: 220px;
    align-items: flex-start
}
/*Termometro para la ansiedad*/
aside2{
    position: relative;
    top: -120px;
    left: 900px;
    align-items: flex-start
}
/*Cuadrados de colores de los termometros*/
.normal{
    width: 40px;
    height: 30px;
    background-color: #46a715;
    margin-bottom: 5px;

}

.leve{
    width: 40px;
    height: 30px;
    background-color: #4bd639;
    margin-bottom: 5px;

}
.moderada{
    width: 40px;
    height: 30px;
    background-color: #ccd216;
    margin-bottom: 5px;

}

.severo{
    width: 40px;
    height: 30px;
    background-color: #e16c35;
    margin-bottom: 5px;

}

.extremadamente_severo{
    width: 40px;
    height: 30px;
    background-color: #d22717;
    margin-bottom: 5px;

}

