<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS+Fuentes -->
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- Material Iconos -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{% static 'styles/css/style_login.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/css/registrarse.css' %}" />
    <title>Registrarse</title>
  </head>
  <body>
        <!-- Inicio del menu -->
        <nav style="background: #AEAFF7; ; " class="navbar navbar-expand-lg navbar-expand-xs navbar-light">
          <div class="container-fluid">
          <!-- icono o nombre -->
    
          <a class="navbar-brand" href="#">
              <img src={% static 'img/logo.png' %} alt="logo" width="50px">
            <span style="color: #000000;">Saludem</span>
          </a>
          </div>
        </nav>

    <div class="login">
      {% comment %} Messages {% endcomment %}
      {% if messages %} {% for message in messages %}
      <div class="alert alert-secondary" role="alert">{{ message }}</div>
      {% endfor %} {% endif %} {% if msg %}
      <div class="alert alert-secondary" role="alert">{{ msg | safe }}</div>
      {% endif %}
    

      <div class="mb-4">
        <h1>Registrarse</h1>
      </div>
    </div>
    



      <form class="formulario" method="POST">
        {% csrf_token %}

        <fieldset>
          <legend>Completa todos los campos</legend>
  <div class="contenedor-campos">
        
          <div class="campo">
            <label for="validationDefaultUsername">Username</label>
            <input class="nada form-control" type="text" name="username" id='username' required>
          </div>
        
          <div class="campo">
            <label for="validationDefaultUsername">Nombre</label>
            <input class="form-control" type="text" name="first_name" id='first_name' required>
          </div>
        
          <div class="campo">
            <label for="validationDefaultUsername">Apellido</label>
            <input class="form-control" type="text" name="last_name" id='last_name' required>
          </div>
        
          <div class="campo">
            <label for="validationDefaultUsername">Email</label>
            <input class="form-control" type="email" name="email" id='email' required>
          </div>

          <div class="campo">
            <label for="validationDefaultUsername">Sexo</label>
            <select type="text" class="form-control" name="sexo" id='sexo' required>
              <option value="" style="display:none;">Seleccione sexo:</option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
          </div>

          <div class="campo">
            <label for="validationDefaultUsername">Celular</label>
            <input class="form-control" type="text" name="phone" id='phone' required>
          </div>

          <div class="campo">
            <label for="validationDefaultUsername">Contraseña</label>
            <input class="form-control" type="password" name="password1" id='password1' required>
          </div>

          <div class="campo">
            <label for="validationDefaultUsername">Repetir Contraseña</label>
            <input class="form-control" type="password" name="password2" id='password2' required>
          </div>
  </div>


  <div class="form-group form-check">
    <input type="checkbox" required class="form-check-input" v-mode="terminos"id="checkbox">
    <label class="form-check-label" for="exampleCheck1">Acepto los 
    <a href="{{ listfiles.url }}" style="color: Blue";> Terminos y condiciones. </a>
    </label>
  </div>


        
        
        <span class="text-error">{{ form.errors }}</span>
        <button
          type="submit"
          class="btn btn-primary btn-pill btn-block my-3"
        >
        Registrarse
        </button>
        </fieldset>
      </form>
      <br><br><br>
      
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer></footer>
</html>

