<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Saludem - Recuperacion</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'styles/css/recuperarcontra.css' %}">
    </head>
    <body>

        <br> <br> <br> <br>
        <div class="container">
            <form class="formulario"
                <div class="contenedor-campos">
                    <p> Se ha enviado un mensaje de verificación al correo consultado, porfavor verifique su bandeja de entrada si ha registrado una cuenta en éste sitio web. </p>
                    <a class="boton" href="{% url 'login2' %}">Volver</a>
                    {% comment %} form reset password {% endcomment %}
                    
                </div>
            </form>
        </div>
            
    
    </body>
</html>