{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/css/termometro.css' %}">
    <link rel="stylesheet" href="{% static 'static/img' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">  
    <link rel="stylesheet" href="css/termometro.css">
    <link rel="stylesheet" href="img/">
    <title>Document</title>
</head>
<body>

    <!-- Inicio del menu -->
    <nav style="background: #AEAFF7; ; " class="navbar navbar-expand-lg navbar-expand-xs navbar-light">
        <div class="container-fluid">
        <!-- icono o nombre -->
  
        <a class="navbar-brand" href="#">
            <img src={% static 'img/logo.png' %} alt="logo" width="50px">
          <span style="color: #000000;">Saludem</span>
        </a>
            
        <!-- boton del menu -->
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <!-- elementos del menu colapsable -->
        <div class="collapse navbar-collapse " id="menu" >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#">Test Autodiagnóstico</a>
            </li>
            <li class="nav-item ml-auto">
              <a class="nav-link" href="#">Técnicas de relajación</a>
            </li>
            <li class="nav-item ml-auto">
                <a  class="nav-link" href="#">Diario Emocional</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#">Agendar Cita</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link">FAQ</a>
            </li>
            <li class="nav-item ml-auto">


                <div class="dropdown">
                    <button class="dropdown-toggle p-0 m-0 btndropdown " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src={% static 'img/logo.png' %} width="45px" style="border-radius:100%">  
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item"  href="#">Mi Perfil</a>
                      <a class="dropdown-item"  href={% url 'logout'  %}>Cerrar Sesión</a>
                    </div>
                    
                </div>         
            </li>
            
          </ul>
        </div>
        </div>  
    </nav>
    <main>
        <br></br>
    <section>
        <h1>Resultados</h1>
    </section>
    <br></br>
    <div class="container-fluid">
        <!-- Depresion -->
        <section style="padding: 12px; margin:auto; display:inline-flex;">
            <svg class="svgTermometro" width="146" height="193" viewBox="0 0 146 193" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Termometro">
                <rect width="146" height="193" fill="white"/>
                <rect id="normal" x="13" width="35" height="33" fill="#3BB44A"/>
                <rect id="moderado" x="13" y="76" width="35" height="33" fill="#FEDA33"/>
                <rect id="extremadamenteSevero" x="13" y="152" width="35" height="33" fill="#EC1B1E"/>
                <rect id="severo" x="13" y="114" width="35" height="33" fill="#FC7535"/>
                <rect id="leve" x="13" y="38" width="35" height="33" fill="#55E659"/>
                {% if testRegist.result_depresion == 'Extremely Severe' %}
                    <path id="flechaDepresion5" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_depresion == 'severe' %}
                    <path id="flechaDepresion4" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>    
                {% elif testRegist.result_depresion == 'moderate' %}
                    <path id="flechaDepresion3" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_depresion == 'mild' %}
                    <path id="flechaDepresion2" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_depresion == 'normal' %}
                    <path id="flechaDepresion1" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>                    
                {% endif %} 

                </g>
                </svg>
            <div class="contenidoDepresion">
                    <h2 class="text-center">Depresión</h2>
                    <h3 class="text-center">
                        Tu nivel de depresión es:
                    </h3>
                    {% if testRegist.result_depresion == 'Extremely Severe' %}
                        <p class="resultado text-center">Extremadamente Severo</p>
                    {% elif testRegist.result_depresion == 'severe' %}
                        <p class="resultado text-center">Severo</p> 
                    {% elif testRegist.result_depresion == 'moderate' %}
                        <p class="resultado text-center">Moderado</p>
                    {% elif testRegist.result_depresion == 'mild' %}
                        <p class="resultado text-center">Leve</p>
                    {% elif testRegist.result_depresion == 'normal' %}
                        <p class="resultado text-center">Normal</p>
                    {% endif %} 
                    
                    {% if stateDepre == True %}
                        <a class="btn btn-success" href={% url 'viewRecomendation' depresionText testRegist.result_depresion testRegist.id %}>Ver Recomendaciones</a>
                    {% endif %}
                    <button class="btn btn-primary">Solicitar Profesional</button>

            </div>
        </section>
        


    <!-- Ansiedad -->
        <section style="padding: 12px; display:inline-flex; margin: auto;">
            <svg class="svgTermometro" width="146" height="193" viewBox="0 0 146 193" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Termometro">
                <rect width="146" height="193" fill="white"/>
                <rect id="normal" x="13" width="35" height="33" fill="#3BB44A"/>
                <rect id="moderado" x="13" y="76" width="35" height="33" fill="#FEDA33"/>
                <rect id="extremadamenteSevero" x="13" y="152" width="35" height="33" fill="#EC1B1E"/>
                <rect id="severo" x="13" y="114" width="35" height="33" fill="#FC7535"/>
                <rect id="leve" x="13" y="38" width="35" height="33" fill="#55E659"/>
                {% if testRegist.result_ansiedad == 'Extremely Severe' %}
                    <path id="flechaAnsiedad5" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_ansiedad == 'severe' %}
                    <path id="flechaAnsiedad4" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>    
                {% elif testRegist.result_ansiedad == 'moderate' %}
                    <path id="flechaAnsiedad3" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_ansiedad == 'mild' %}
                    <path id="flechaAnsiedad2" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_ansiedad == 'normal' %}
                    <path id="flechaAnsiedad1" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>                    
                {% endif %} 
                </g>
                </svg>
                <div class="contenidoAnsiedad">
                    <h2 class="text-center">Ansiedad</h2>
                    <h3 class="text-center">
                        Tu nivel de ansiedad es:
                    </h3>
                </h3>
                {% if testRegist.result_ansiedad == 'Extremely Severe' %}
                    <p class="resultado text-center">Extremadamente Severo</p>
                {% elif testRegist.result_ansiedad == 'severe' %}
                    <p class="resultado text-center">Severo</p> 
                {% elif testRegist.result_ansiedad == 'moderate' %}
                    <p class="resultado text-center">Moderado</p>
                {% elif testRegist.result_ansiedad == 'mild' %}
                    <p class="resultado text-center">Leve</p>
                {% elif testRegist.result_ansiedad == 'normal' %}
                    <p class="resultado text-center">Normal</p>
                {% endif %} 

                {% if stateAnsi == True %}
                    <a class="btn btn-success" href={% url 'viewRecomendation' ansiedadText testRegist.result_depresion testRegist.id %}>Ver Recomendaciones</a>
                {% endif %}
                <button class="btn btn-primary">Solicitar Profesional</button>

                </div>
        </section>
        
        <!-- Estrés -->
        <section style="display:inline-flex; justify-content:start; margin: auto; align-items: flex-start; padding: 12px;">

            <svg class="svgTermometro" width="146" height="193" viewBox="0 0 146 193" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Termometro">
                <rect width="146" height="193" fill="white"/>
                <rect id="normal" x="13" width="35" height="33" fill="#3BB44A"/>
                <rect id="moderado" x="13" y="76" width="35" height="33" fill="#FEDA33"/>
                <rect id="extremadamenteSevero" x="13" y="152" width="35" height="33" fill="#EC1B1E"/>
                <rect id="severo" x="13" y="114" width="35" height="33" fill="#FC7535"/>
                <rect id="leve" x="13" y="38" width="35" height="33" fill="#55E659"/>
                {% if testRegist.result_estres == 'Extremely Severe' %}
                    <path id="flechaEstres5" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_estres == 'severe' %}
                    <path id="flechaEstres4" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>    
                {% elif testRegist.result_estres == 'moderate' %}
                    <path id="flechaEstres3" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_estres == 'mild' %}
                    <path id="flechaEstres2" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_estres == 'normal' %}
                    <path id="flechaEstres1" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>                    
                {% endif %} 
                </g>
                </svg>
                
                <div class="contenidoEstrés">
                    <h2 class="text-center">Estrés</h2>
                    <h3 class="text-center">
                        Tu nivel de estrés es:
                    </h3>
                    
                </h3>
                {% if testRegist.result_estres == 'Extremely Severe' %}
                    <p class="resultado text-center">Extremadamente Severo</p>
                {% elif testRegist.result_estres == 'severe' %}
                    <p class="resultado text-center">Severo</p> 
                {% elif testRegist.result_estres == 'moderate' %}
                    <p class="resultado text-center">Moderado</p>
                {% elif testRegist.result_estres == 'mild' %}
                    <p class="resultado text-center">Leve</p>
                {% elif testRegist.result_estres == 'normal' %}
                    <p class="resultado text-center">Normal</p>
                {% endif %} 
                
                {% if stateEstres == True %}
                    <a class="btn btn-success" href={% url 'viewRecomendation' estresText testRegist.result_depresion testRegist.id %}>Ver Recomendaciones</a>
                {% endif %}
                <button class="btn btn-primary">Solicitar Profesional</button>

                </div>
        </section>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

</body>
</html>