{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/css/Termometro.css' %}">
    <link rel="stylesheet" href="{% static 'static/img' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">  
    <!-- Material Iconos -->
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Mulish&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>


    <!-- Navbar wrapper -->
  <div class="d-flex flex-row flex-shrink-0" role="navigation">
    <!-- Navbar-->
    <nav style="background: #AEAFF7;" class="navbar d-flex flex-row flex-grow-1  navbar-expand-xl  navbar-light ">
      <div class="container-fluid">
        <!-- icono o nombre -->


        <a class="navbar-brand pl-5" href={% url 'customer' %}>
          <img src={% static 'img/logo.png' %} alt="logo" width="50px">
          <span style="color: #000000;">Saludem</span>
        </a>

        <!-- boton del menu -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- elementos del menu colapsable -->
        <div class="collapse navbar-collapse " id="menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-4">
              <a class="nav-link" href={% url 'indexIntroTest' %}>Test Autodiagnóstico</a>
            </li>
            <li class="nav-item pr-4">
              <a class="nav-link" href={% url 'viewRecomendationAll' 'all' 'default' %}>Técnicas de relajación</a>
            </li>
            <li class="nav-item  pr-4">
              <a class="nav-link" href="#">Diario Emocional</a>
            </li>
            <li class="nav-item  pr-4">
              <a class="nav-link" href="#">Manual ante crisis</a>
            </li>
            <li class="nav-item  pr-4">
              <a class="nav-link" href={% url 'allProfesionals' %}>Buscar profesionales</a>
            </li>
            <li class="nav-item  pr-4">
              <a class="nav-link" href={% url 'view_faq_user' %}>FAQ</a>
            </li>
            <li class="nav-item pr-4">
              <a class="bx bx-world bx-tada mt-2" href="javascript:void(0)" onclick="gTra(this)"
                style="font-size: 30px;" id="nav_translate_btn"></a>
              <div
                style='display:none;position:absolute;z-index:5;top:84px;right:6%;height:55px;background-color:#D7D7FB;;text-align:left; padding-top:15px;'
                id='google_translate_element'></div>
            </li>


            <li class="nav-item">
              <img src={{userSelect.image}} width="30" height="30" class="user-pic rounded-circle mt-2  "
                onclick="toggleMenu()" title="Administrador de cuenta para NombreUsuario">
              <div id="subMenu" class="sub-menu-wrap" style="position: absolute; top:100%; right:1%; width :320px; ">
                <div class="sub-menu" style="background:#D7D7FB ; padding:20px; margin:10px;">
                  <div class="user-info  mt-3 mb-1" style="display: flex; align-items: center; ">
                    <img style=" width:80px; background:#e5e5e5;margin-right:15px ;" src={{userSelect.image}} width="60 "
                      alt="" class="rounded-circle">
                    <h4 class="NombreUsuario " style="font-weight:500;">{{user.username}}</h4>
                  </div>
                  <hr class="mt-4 mb-1">

                  <section class="d-flex flex-column ">

                    <a href={% url 'viewUser' %} style="display:flex; align-items: center; text-decoration: none; margin: 12px 0; color: #000000;" class ="sub-menu-link ">
                      <img src={% static 'img/Perfil.png' %} alt="perfil" style="margin-left:-3px;width: auto !important; height: 50px !important; margin-top:-2px; " >
                    <p class="mt-2 ml-2 w-100">Ver perfil</p>
                    <span class="mb-2">></span>
                  </a>


                    <a href={% url 'logout' %}
                      style="display:flex; align-items: center; text-decoration: none; margin: 12px 0; color:#181616;"
                      class="sub-menu-link d-flex flex-row mt-2">
                      <i class='bx bx-log-in bx-flip-vertical ' style="font-size:40px; width: 50px;"></i>
                      <p class="mb-1 ml-3 w-100">Cerrar Sesión</p>
                      <span>></span>
                    </a>
                    <style>
                      #google_translate_element {
                        z-index: 7 !important;
                        border-radius: 20px 20px 50px !important;
                        box-shadow: 2px 2px 5px 2px #000000;
                        width: 200px !important;
                        padding-left: 4px !important;


                      }

                      .nav-link {
                        font-family: 'Mulish', serif !important;
                      }

                      .navbar {
                        width: 100%;
                      }

                      .sub-menu-wrap {
                        z-index: 100;
                      }

                      @media (max-width: 1024px) {
                        .sub-menu-wrap {
                          position: absolute;
                          top: 100%;
                          left: 1%;
                          width: 320px;
                        }

                        #google_translate_element {
                          position: static;
                          top: 75% !important;
                          right: 60% !important;
                          border-radius: 20px 20px 50px !important;

                        }
                      }

                      @media (max-width: 768px) {
                        #google_translate_element {
                          position: static;
                          top: 75% !important;
                          left: 10% !important;
                          border-radius: 20px 20px 50px !important;

                        }

                      }

                      @media (max-width: 575.98px) {

                        #google_translate_element {
                          position: static;
                          top: 75% !important;
                          left: 18% !important;
                          border-radius: 20px 20px 50px !important;
                          width: 200px !important;


                        }

                        .sub-menu-wrap {
                          position: absolute;
                          top: 100%;
                          left: 1%;
                          width: 320px;
                        }
                      }

                      .sub-menu {
                        box-shadow: 2px 2px 5px 2px #000000;
                      }

                      .sub-menu-link span {
                        font-size: 22px;
                        transition: transform 0.5s;
                      }

                      .sub-menu-link:hover span {
                        transform: translateX(5px);

                      }

                      .sub-menu-link:hover p {
                        font-weight: 600;
                      }

                      .sub-menu-wrap {

                        max-height: 0px;
                        overflow: hidden;
                        transition: max-height 0.5s;
                      }

                      .sub-menu-wrap.open-menu {
                        max-height: 400px;


                      }

                      .gte-menu-wrap {
                        z-index: 100;
                      }

                      .gte-menu {
                        box-shadow: 2px 2px 5px 2px #000000;
                      }



                      .gte-menu-wrap {

                        max-height: 0px;
                        overflow: hidden;
                        transition: max-height 0.5s;
                      }

                      .gte-menu-wrap.open-menu {
                        max-height: 400px;


                      }
                    </style>
                    <script>
                      let subMenu = document.getElementById("subMenu");

                      function toggleMenu() {
                        subMenu.classList.toggle("open-menu")
                      }

                      function gTra(el) {
                        var gtra = document.createElement('script'); gtra.id = 'gTra'; gtra.type = 'text/javascript'; gtra.async = true;
                        gtra.src = '../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit';
                        var el = document.getElementById('gTra');
                        if (el == null) {
                          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gtra, s);
                        }
                        open_translate(el);
                      };

                      function open_translate(elmnt) {
                        var a = document.getElementById("google_translate_element");
                        if (a.style.display == "") {
                          a.style.display = "none";
                          elmnt.innerHTML = "<i class='bx bx-world'></i>";
                        } else {
                          a.style.display = "";
                          if (window.innerWidth > 830) {
                            a.style.width = "32%";
                          } else {
                            a.style.width = "60%";
                          }
                          elmnt.innerHTML = "<span style='font-size:17px;font-family:verdana;font-weight:bold;display:inline-block;text-align:center;'>&times;</span>";
                        }
                      }

                      function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                          pageLanguage: 'en',
                          autoDisplay: false,
                          gaTrack: true,
                          gaId: 'UA-3855518-1',
                          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                        }, 'google_translate_element');
                      }
                    </script>

                  </section>
                </div>
              </div>

        </div>

        </ul>
      </div>
  </div>
  </nav>
  </div>
  <!-- Fin NAVBAR -->
          
    <main>
        <br></br>
    <section>
        <h1 class="text-title">Resultados</h1>
    </section>
    <br></br>
    <div class="grid py-4 pr-5 contenidoGeneral">
      
        <!-- Depresion -->
        <section style="padding: 12px; margin:auto; display:inline-flex;">
            <svg class="svgTermometro" width="146" height="193" viewBox="0 0 146 193" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Termometro">
                <rect width="146" height="193" fill="white"/>
                <rect id="normal" x="13" width="35" height="33" fill="{{color_1}}"/>
                <rect id="moderado" x="13" y="76" width="35" height="33" fill="{{color_3}}"/>
                <rect id="extremadamenteSevero" x="13" y="152" width="35" height="33" fill="{{color_5}}"/>
                <rect id="severo" x="13" y="114" width="35" height="33" fill="{{color_4}}"/>
                <rect id="leve" x="13" y="38" width="35" height="33" fill="{{color_2}}"/>
                {% if testRegist.result_depresion == 'Extremely Severe' %}
                    <path id="flechaDepresion5" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_depresion == 'severe' %}
                    <path id="flechaDepresion4" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>    
                {% elif testRegist.result_depresion == 'moderate' %}
                    <path id="flechaDepresion3" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_depresion == 'mild' %}
                    <path id="flechaDepresion2" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_depresion == 'normal' %}
                    <path id="flechaDepresion1" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>                    
                {% endif %} 

                    </g>
                </svg>
                <div class="contenidoDepresion">
                    <h2 class="text-center">Depresión</h2>
                    <h3 class="text-center">
                        Tu nivel de depresión es:
                    </h3>
                    {% if testRegist.result_depresion == 'Extremely Severe' %}
                    <p class="resultado text-center">Extremadamente Severo</p>
                    {% elif testRegist.result_depresion == 'severe' %}
                    <p class="resultado text-center">Severo</p>
                    {% elif testRegist.result_depresion == 'moderate' %}
                    <p class="resultado text-center">Moderado</p>
                    {% elif testRegist.result_depresion == 'mild' %}
                    <p class="resultado text-center">Leve</p>
                    {% elif testRegist.result_depresion == 'normal' %}
                    <p class="resultado text-center">Normal</p>
                    {% endif %}

                    {% if stateDepre == True %}
                    <a class="btn btn-success" href={% url 'viewRecomendation' depresionText testRegist.result_depresion
                        testRegist.id %}>Ver Recomendaciones</a>
                    {% endif %}
                    {% if stateProfesionalDepre == True %}
                    <button class="btn btn-primary">Solicitar Profesional</button>
                    {% endif %}

                </div>
            </section>


    <!-- Ansiedad -->
        <section style="padding: 12px; display:inline-flex; margin: auto;">
            <svg class="svgTermometro" width="146" height="193" viewBox="0 0 146 193" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Termometro">
                <rect width="146" height="193" fill="white"/>
                <rect id="normal" x="13" width="35" height="33" fill="{{color_1}}"/>
                <rect id="moderado" x="13" y="76" width="35" height="33" fill="{{color_3}}"/>
                <rect id="extremadamenteSevero" x="13" y="152" width="35" height="33" fill="{{color_5}}"/>
                <rect id="severo" x="13" y="114" width="35" height="33" fill="{{color_4}}"/>
                <rect id="leve" x="13" y="38" width="35" height="33" fill="{{color_2}}"/>
                {% if testRegist.result_ansiedad == 'Extremely Severe' %}
                    <path id="flechaAnsiedad5" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_ansiedad == 'severe' %}
                    <path id="flechaAnsiedad4" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>    
                {% elif testRegist.result_ansiedad == 'moderate' %}
                    <path id="flechaAnsiedad3" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_ansiedad == 'mild' %}
                    <path id="flechaAnsiedad2" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_ansiedad == 'normal' %}
                    <path id="flechaAnsiedad1" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>                    
                {% endif %} 
                </g>
                </svg>
                <div class="contenidoAnsiedad">
                    <h2 class="text-center">Ansiedad</h2>
                    <h3 class="text-center">
                        Tu nivel de ansiedad es:
                    </h3>
                    </h3>
                    {% if testRegist.result_ansiedad == 'Extremely Severe' %}
                    <p class="resultado text-center">Extremadamente Severo</p>
                    {% elif testRegist.result_ansiedad == 'severe' %}
                    <p class="resultado text-center">Severo</p>
                    {% elif testRegist.result_ansiedad == 'moderate' %}
                    <p class="resultado text-center">Moderado</p>
                    {% elif testRegist.result_ansiedad == 'mild' %}
                    <p class="resultado text-center">Leve</p>
                    {% elif testRegist.result_ansiedad == 'normal' %}
                    <p class="resultado text-center">Normal</p>
                    {% endif %}

                    {% if stateAnsi == True %}
                    <a class="btn btn-success" href={% url 'viewRecomendation' ansiedadText testRegist.result_depresion
                        testRegist.id %}>Ver Recomendaciones</a>
                    {% endif %}
                    {% if stateProfesionalAnsi == True %}
                    <button class="btn btn-primary">Solicitar Profesional</button>
                    {% endif %}

                </div>
            </section>
            <section style="padding: 12px; display:inline-flex; margin: auto;">
            <svg class="svgTermometro" width="146" height="193" viewBox="0 0 146 193" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Termometro">
                <rect width="146" height="193" fill="white"/>
                <rect id="normal" x="13" width="35" height="33" fill="{{color_1}}"/>
                <rect id="moderado" x="13" y="76" width="35" height="33" fill="{{color_3}}"/>
                <rect id="extremadamenteSevero" x="13" y="152" width="35" height="33" fill="{{color_5}}"/>
                <rect id="severo" x="13" y="114" width="35" height="33" fill="{{color_4}}"/>
                <rect id="leve" x="13" y="38" width="35" height="33" fill="{{color_2}}"/>
                {% if testRegist.result_estres == 'Extremely Severe' %}
                    <path id="flechaEstres5" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_estres == 'severe' %}
                    <path id="flechaEstres4" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>    
                {% elif testRegist.result_estres == 'moderate' %}
                    <path id="flechaEstres3" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_estres == 'mild' %}
                    <path id="flechaEstres2" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>
                {% elif testRegist.result_estres == 'normal' %}
                    <path id="flechaEstres1" d="M28.9393 90.9393C28.3536 91.5251 28.3536 92.4749 28.9393 93.0607L38.4853 102.607C39.0711 103.192 40.0208 103.192 40.6066 102.607C41.1924 102.021 41.1924 101.071 40.6066 100.485L32.1213 92L40.6066 83.5147C41.1924 82.9289 41.1924 81.9792 40.6066 81.3934C40.0208 80.8076 39.0711 80.8076 38.4853 81.3934L28.9393 90.9393ZM30 93.5H82V90.5H30V93.5Z" fill="black"/>                    
                {% endif %} 
                </g>
                </svg>

                <div class="contenidoEstrés">
                    <h2 class="text-center">Estrés</h2>
                    <h3 class="text-center">
                        Tu nivel de estrés es:
                    </h3>

                    </h3>
                    {% if testRegist.result_estres == 'Extremely Severe' %}
                    <p class="resultado text-center">Extremadamente Severo</p>
                    {% elif testRegist.result_estres == 'severe' %}
                    <p class="resultado text-center">Severo</p>
                    {% elif testRegist.result_estres == 'moderate' %}
                    <p class="resultado text-center">Moderado</p>
                    {% elif testRegist.result_estres == 'mild' %}
                    <p class="resultado text-center">Leve</p>
                    {% elif testRegist.result_estres == 'normal' %}
                    <p class="resultado text-center">Normal</p>
                    {% endif %}

                </div>

            </section>
        </div>
        <div class="text-center  ">
            <a href={% url 'customer' %} class="btn-continuar">Continuar</a>
        </div>
        <br></br>
        <br></br>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
      <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
<footer>Footer</footer>

</html>