{% load static %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Saludem - Profesionales</title>


    <!-- Bootstrap CSS+Fuentes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'styles/css/admin_Profesionales.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap" rel="stylesheet">

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Número 1</th>
        <th scope="col">Número 2</th>
        <th scope="col">Redes</th>
        <th scope="col">Ubicación</th>
        <th scope="col">Especialidades</th>
        <th scope="col">Servicios y valor</th>
        <th scope="col">Horario laboral</th>
      </tr>
    </thead>
    <tbody>
        {% for profesional in profesional %}
            <tr>
            <th scope="row">{{ profesional.id}}</th>
            <td>{{profesional.nombre}}</td>
            <td>{{profesional.apellido}}</td>
            <td>{{profesional.correo}}</td>
            <td>{{profesional.numero_1}}</td>
            <td>{{profesional.numero_2}}</td>
            <td>{{profesional.redes}}</td>
            <td>{{profesional.ubicacion}}</td>
            <td>{{profesional.especialidades}}</td>
            <td>{{profesional.servicios_valor}}</td>
            <td>{{profesional.horario_laboral}}</td>
          </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}