<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS+Fuentes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin_Profesionales.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>
     <!-- Inicio del menu -->
     <nav style="background: #AEAFF7; ; " class="navbar navbar-expand-lg navbar-expand-xs navbar-light">
      <div class="container-fluid">
      <!-- icono o nombre -->

      <a class="navbar-brand" href="#">
          <img src="img/logo.png" alt="logo" width="50px">
        <span style="color: #000000;">Saludem</span>
      </a>
          
      <!-- boton del menu -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- elementos del menu colapsable -->
      <div class="collapse navbar-collapse " id="menu" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-auto">
              <a class="nav-link" href="#">Test Autodiagnóstico</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Técnicas de relajación</a>
          </li>
          <li class="nav-item ml-auto">
              <a  class="nav-link" href="#">Diario Emocional</a>
          </li>
          <li class="nav-item ml-auto">
              <a class="nav-link" href="#">Agendar Cita</a>
          </li>
          <li class="nav-item ml-auto">
              <a class="nav-link" href="#">FAQ</a>
          </li>
            <li class="nav-item ml-auto">
              <img src="img/Esp1.png" width="45px" style="border-radius:100%">           
             </li>
          </li>
        </ul>
      </div>
      </div>  
    </nav>
     
    <br/> </br>
     <!-- Titulo principal -->
     <center><h1 id="title" class="d-block p-4">Administración de Profesionales</h1></center>
 
    <!-- Subtitulo-->
    <center><div class="d-inline p-5  text-black"></center>
        
    <center><h2 style="margin-left: 15px;">Editar profesional</h2></center>
        </div>
            
    <div class="container-fluid">

<form action="{% url 'funupdateProfesional' profesional.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <center><img src={{profesional.imagen_profesional.url}} alt="Imagen profesional" height="100" width="100"/>
  <div class="form-group">
    <input type="text" id="Nombre" name="Nombre" placeholder="Nombre" value="{{profesional.nombre}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Apellido" name="Apellido" placeholder="Apellido" value="{{profesional.apellido}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Correo" name="Correo" placeholder="Correo" value="{{profesional.correo}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Número 1" name="Número 1" placeholder="Número 1" value="{{profesional.numero_1}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Número 2" name="Número 2" placeholder="Número 2" value="{{profesional.numero_2}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Redes" name="Redes" placeholder="Redes" value="{{profesional.redes}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Ubicación" name="Ubicación" placeholder="Ubicación" value="{{profesional.ubicacion}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Especialidades" name="Especialidades" placeholder="Especialidades" value="{{profesional.especialidades}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Servicios y valor" name="Servicios y valor" placeholder="Servicios y valor" value="{{profesional.servicios_valor}}"/>
  </div>
  <div class="form-group">
    <input type="text" id="Horario laboral" name="Horario laboral" placeholder="Horario laboral" value="{{profesional.horario_laboral}}" />
  </div>
  <div class="form-group">
    <a class="btn btn-primary" href="/profesional/allProfesional/" type="submit">Editar</a>
  </div>
  <div class="form-group">
    <a class="btn btn-primary" href="/profesional/allProfesional/">Regresar</a></center>
  </div>
</form>
