<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depresión y Ansiedad</title>
    <link rel="stylesheet" href="{% static 'syles/css/css.css' %}">
    <link rel="stylesheet" href="img/">   
    <script>
        function zzz(){ 
        var get = document.getElementsById("get").value;
        document.getElementsById("put").value = get;
 }
    </script>
</head>
<body>
    <header>
    <a href="#" class="logo"> <img src="img/logo.png" alt="">
    <h1 class="business_name">Saludem</h1>
    </a>
    <nav>
    <a href="#">Test Autodiagnóstico</a>
    <a href="#">Técnicas de relajación</a>
    <a href="#">Diario Emocional</a>
    <a href="#">Agendar Cita</a>
    <a href="#">FAQ</a>
    <a href="#"></a>
    </nav> 
</header>

    <h1>Administración del cuestionario</h1>
 <main>
    <section class="test" style="text-align: end;">
        <div>
 <h2>Título del test</h2>
        <form >
    <input type="text" name="Nombre" placeholder="Título" class="title">
    <br></br>
    <input type="submit" class="boton" value="Guardar">
        </form> 
    </div>
    <div>
 <h2>Mensaje pre-test</h2>
        <form > 
           <textarea type="text" name="Nombre" placeholder="Descripción"></textarea>
           <br/><br/>
           <input type="submit" class="boton" value="Guardar">
        </form> 
    </div>
    <div>
<h2>Instrucciones test</h2>
        <form >
           <textarea type="text" name="Nombre" placeholder="Descripción"></textarea>
           <br/><br/>           
           <input type="submit" class="boton" value="Guardar">
        </form>
    </div> 
    </section>
 <section class="tabla-preguntas" style="text-align: center;">
    <h2>Preguntas</h2>
    <table>
        <tr class="tit-tabla">
            <th>Número</th>
            <th class="pregunta">Pregunta</th>
            <th>Acciones</th>
        </tr>
        <tr> 
            <td>1</td>
            <td class="pregunta">Encuentro dificil tranquilizarme</td>
            <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
        </tr>
        <tr> 
            <td>2</td>
            <td class="pregunta">En ocasiones siento mi boca reseca</td>
            <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
        </tr>
        <tr> 
            <td>3</td>
            <td class="pregunta">No puedo experimentar ningún sentimiento positivo</td>
            <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
        </tr>
        <tr> 
            <td>4</td>
            <td class="pregunta">Experimento dificultad para respirar (ej. respiración excesivamente rápida, dificultada para respirar en ausencia de esfuerzo físico).</td>
            <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
        </tr>
        <tr> 
            <td>5</td>
            <td class="pregunta">Me cuesta trabajar la iniciativa para hacer las cosas</td>
            <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
        </tr>
    </table>
        <br></br>
        <button type="button" class="add-quest">
         <img class="add-ico" src="img/add.png" alt=""></img>
                Añadir Pregunta         
        </button>
 </section>
<section style="text-align: end;">
    <h2>Resultados</h2>
    <table>
        <tr class="tit-tabla">
            <th>Nivel</th>
            <th>Color</th>
            <th colspan="2">Depresión</th>
            <th colspan="2">Ansiedad</th>
        </tr>
        <tr> 
            <td>Leve</td>
            <td><input type="color" id="color" ></td>
            <td>Min</td>
            <td>Max</td>
            <td>Min</td>
            <td>Max</td>
        </tr>
        <tr> 
            <td>Moderado</td>
            <td><input type="color" id="color" ></td>
            <td>Min</td>
            <td>Max</td>
            <td>Min</td>
            <td>Max</td>
        </tr>
        <tr> 
            <td>Severo</td>
            <td><input type="color" id="color" ></td>
            <td>Min</td>
            <td>Max</td>
            <td>Min</td>
            <td>Max</td>
        </tr>
        <tr> 
            <td>Extremadamente severo</td>
            <td><input type="color" id="color" ></td>
            <td colspan="2">28+</td>
            
            <td colspan="2">20+</td>
            
        </tr>
    
    </table>
    <br>
    <div>
        <input type="submit" id="edit" value="Editar">
    </div>
</section>

    
<section>
    <h2> Recomendaciones</h2>
    <h2>Depresión</h2>
    <div class="mb-0 col-md-12">
        <label for="category_description" class="form-label">Nivel</label>
        <select type="text" class="form-control" name="Nivel" id="nivel" required>
            <option value="default" style="display:none;">Seleccione el estado</option>
            <option>Normal</option>
            <option>Leve</option>
            <option>Moderado</option>
            <option>Severo</option>
            <option>Inferno wn</option>
        </select> 
        <div class="feedback body--small normal"></div>
        <div class="container">Buscar Profesional
            <label class="switch"><input type="checkbox" /> <div></div>
            </label>
          </div>
          <h2>Mensaje</h2>
          <form >
            <textarea type="text" name="Nombre" placeholder="Descripción"></textarea>
            <br/><br/>           
            <input type="submit" id="boton" value="Guardar">
         </form> 
         <h2>Recomendaciones</h2>
         <table>
            <tr class="tit-tabla">
                <th>Link Asociados</th>
                <th>Acciones</th>
                
            </tr>
            <tr> 
                <td>https://youtu.be/3oCC4NDgYrY</td>
                <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
                
            </tr>
            <tr> 
                <td>https://www.youtube.com/watch?v=u4zvWfmIdZU</td>
                <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
              
            </tr>
            <tr> 
                <td>https://www.figma.com/file/xMHq6KewtXnvuYjHTcytQj/Software-Bienestar-Emocional-team-library?node-id=832%3A569</td>
                <<td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
               
            </tr>
        
        </table>
<div><input type="submit" id="edit" value="Editar"></div>
</section>

<section>
    
    <h2>Ansiedad</h2>
    <div class="mb-0 col-md-12">
        <label for="category_description" class="form-label">Nivel</label>
        <select type="text" class="form-control" name="Nivel" id="nivel" required>
            <option value="default" style="display:none;">Seleccione el estado</option>
            <option>Normal</option>
            <option>Leve</option>
            <option>Moderado</option>
            <option>Severo</option>
            <option>Inferno wn</option>
        </select> 
        <div class="feedback body--small normal"></div>
        <div class="container">Buscar Profesional
            <label class="switch"><input type="checkbox" /> <div></div>
            </label>
          </div>
          <h2>Mensaje</h2>
          <form >
            <textarea type="text" name="Nombre" placeholder="Descripción"></textarea>
            <br/><br/>           
            <input type="submit" id="boton" value="Guardar">
         </form> 
         <h2>Recomendaciones</h2>
         <table>
            <tr class="tit-tabla">
                <th>Link Asociados</th>
                <th>Acciones</th>
                
            </tr>
            <tr> 
                <td>https://youtu.be/3oCC4NDgYrY</td>
                <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
                
            </tr>
            <tr> 
                <td>https://www.youtube.com/watch?v=u4zvWfmIdZU</td>
                <td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
              
            </tr>
            <tr> 
                <td>https://www.figma.com/file/xMHq6KewtXnvuYjHTcytQj/Software-Bienestar-Emocional-team-library?node-id=832%3A569</td>
                <<td><input type="submit" id="editar" value="Editar"><input type="submit" id="eliminar" value="Eliminar"></td>
               
            </tr>
        
        </table>
</section>
</main>
   
</body>
<footer>
    <h1>footer</h1>
    
</footer>
</html>