<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="#" class="logo"> <img src="img/logo.png" alt="">
        <h1 class="business_name">Saludem</h1>
        </a>
        <nav>
        <a href="#">Test Autodiagnóstico</a>
        <a href="#">Técnicas de relajación</a>
        <a href="#">Diario Emocional</a>
        <a href="#">Agendar Cita</a>
        <a href="#">FAQ</a>
        <a href="#"></a>
        </nav> 
    </header>
    
    <div>
        <h1>Administración de Usuario</h1>
    </div>
    <main>
        
    <section class="tabla-preguntas" style="text-align: center;">
        <h2>Usuarios</h2>
        <table>
            <tr class="tit-tabla">
                <th>Matricula</th>
                <th>Nombre de Usuario</th>
                <th>Contraseña</th>
                <th>Nombre(s)</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
            <tr> 
                <td>666444</td>
                <td>john.Doe</td>
                <td>miclave123</td>
                <td>Jhon</td>
                <td>Doe Smith</td>
                <td>jhon.doe@edi.mx</td>
                <td><input type="submit" id="editar" value="Editar"></td>
            </tr>
            <tr> 
                <td>666444</td>
                <td>john.Doe</td>
                <td>miclave123</td>
                <td>Jhon</td>
                <td>Doe Smith</td>
                <td>jhon.doe@edi.mx</td>
                <td><input type="submit" id="editar" value="Editar"></td>
            </tr>
            <tr> 
                <td>666444</td>
                <td>john.Doe</td>
                <td>miclave123</td>
                <td>Jhon</td>
                <td>Doe Smith</td>
                <td>jhon.doe@edi.mx</td>
                <td><input type="submit" id="editar" value="Editar"></td>
            </tr>
            <tr> 
                <td>666444</td>
                <td>john.Doe</td>
                <td>miclave123</td>
                <td>Jhon</td>
                <td>Doe Smith</td>
                <td>jhon.doe@edi.mx</td>
                <td><input type="submit" id="editar" value="Editar"></td>
            </tr>
            <tr> 
                <td>666444</td>
                <td>john.Doe</td>
                <td>miclave123</td>
                <td>Jhon</td>
                <td>Doe Smith</td>
                <td>jhon.doe@edi.mx</td>
                <td><input type="submit" id="editar" value="Editar"></td>
            </tr>
            
        </table>
        <br></br>
        <button type="button" class="add-quest">
         <img class="add-ico" src="" alt=""></img>
                Atras         
        </button>
        
        <button type="button" class="add-quest">
            <img class="add-ico" src="" alt=""></img>
                   siguiente        
           </button>
     </section>   
     <section>
        <br><br>
        <form class="form-line">
            
            <input type="text" name="Nombre" placeholder="Matricula" class="anad">
            <input type="text" name="Nombre" placeholder="Nombre de Usuario" class="anad">
            <input type="text" name="Nombre" placeholder="Contraseña" class="anad">
            <input type="text" name="Nombre" placeholder="Nombre" class="anad">
            <input type="text" name="Nombre" placeholder="Apellidos" class="anad">
            <input type="text" name="Nombre" placeholder="Correo" class="anad">
            <input type="submit" class="boton" value="Guardar">
        </form> 
     </section> 
     <section>
        <h3>Resultado del Test</h3>
        <h2>Matricula</h2>
        <form>
            <input type="text" name="Nombre" placeholder="Matricula" class="anad"><input type="submit" class="boton" value="Buscar">
        </form>
        <div>
            <h2>Historial de resultados del Usuario</h2>
        </div>
        <table>
            <tr> 
                <td>666444</td>
                <td>john.Doe</td>
                <td>miclave123</td>
                <td>Jhon</td>
                <td>Doe Smith</td>
                <td>jhon.doe@edi.mx</td>
            </tr>
        </table>
        <br><br>
        <table>
            <tr class="tit-tabla">
                <th>fecha de Test</th>
                <th>Hora finalización</th>
                <th>Puntaje</th>
                <th>Resultado Depresión</th>
                <th>Resultado Ansiedad</th>
                <th>Acción</th>
            </tr>
            <tr> 
                <td>12/13/1111</td>
                <td>15:12</td>
                <td>23</td>
                <td>Moderado</td>
                <td>Severo</td>
                <td><input type="submit" id="editar" value="Eliminar"></td>
            </tr>
            <tr> 
                <td>12/13/1111</td>
                <td>15:12</td>
                <td>23</td>
                <td>Moderado</td>
                <td>Severo</td>
                <td><input type="submit" id="editar" value="Eliminar"></td>
            </tr>
            <tr> 
                <td>12/13/1111</td>
                <td>15:12</td>
                <td>23</td>
                <td>Moderado</td>
                <td>Severo</td>
                <td><input type="submit" id="editar" value="Eliminar"></td>
            </tr>
            <tr> 
                <td>12/13/1111</td>
                <td>15:12</td>
                <td>23</td>
                <td>Moderado</td>
                <td>Severo</td>
                <td><input type="submit" id="editar" value="Eliminar"></td>
            </tr>
            
            
        </table>
     </section>
    </main>
    
</body>
<footer>

</footer>

</html>