{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'static/img' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <a href={% url 'pageadmin' %} class="logo"> <img src="/static/img/logo.png" alt="">
        <h1 class="business_name">Saludem</h1>
        </a>
        <nav>
        <a href="#">Test Autodiagnóstico</a>
        <a href="#">Técnicas de relajación</a>
        <a href="#">Diario Emocional</a>
        <a href="#">Agendar Cita</a>
        <a href={% url 'pageadmin' %}>FAQ</a>
        <a href="#"></a>
        </nav> 
    </header>
    
    <div>
        <h1>Administración de Usuario</h1>
    </div>
    <main>
        
    <section class="tabla-preguntas" style="text-align: center;">
        <h1>Usuarios</h1>
        <table>
            <tr class="tit-tabla">
                <th>Matricula</th>
                <th>Nombre de Usuario</th>
                <th>Nombre(s)</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        <tbody> 
            {% if user %}
            {% for user in users %}
            <tr> 
                <td>{{user.matricula}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="{% url 'edit_user' user.id %}"  type="button" class="btn btn-info">Editar</a>
                    <a href="{% url 'delete_user' user.id %}" onclick="return confirm ('¿Estas seguro que deseas eliminar el Usuario?')"  type="button" class="btn btn-danger">Delete</a>
                 
                </td>
                
            </tr>
            {% endfor %}
            {% else %}
            <h2> No hay usuarios registrados aún</h2>
            {% endif %}
        </tbody>   

        </table>
        <br></br>
        <button type="button" class="add-quest">
         <img class="add-icon" src="" alt=""></img>
                Atras         
        </button>
        
        <button type="button" class="add-quest">
            <img class="add-icon" src="" alt=""></img>
                   siguiente        
           </button>
     </section>   
     <section>
        <br><br>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-secondary text-center" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <h1>Agregar Nuevo Usuario</h1>
        <form class="form-line" action={% url 'add_userStandard' %} method="POST">
            {% csrf_token %}
            <input id="matricula" name="matricula" type="text"  placeholder="Matricula" class="anad">
            <input  id="Username" name="Username" type="text" placeholder="Nombre de Usuario" class="anad">
            <input type="text" name="First_Name" id="First_Name" placeholder="Nombre" class="anad">
            <input type="text" name="Last_name" id="Last_name" placeholder="Apellidos" class="anad">
            <input type="text" name="email" id="email" placeholder="Correo" class="anad">
            <button type="submit" class="boton" value="Guardar"> Agregar </button>
        </form> 
     </section> 

</html>