{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home-admin</title>
    <link rel="stylesheet" href="{% static 'styles/css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'static/img' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">  
</head>

<body>
    <header>
        <a href="#" class="logo"> <img src="/static/img/logo.png" alt="">
        <h1 class="business_name">Saludem</h1>
        </a>
        <nav>
        <a href="#">Test Autodiagnóstico</a>
        <a href="#">Técnicas de relajación</a>
        <a href="#">Diario Emocional</a>
        <a href="#">Agendar Cita</a>
        <a href="#">FAQ</a>
        <a href="#"></a>
        </nav> 
    </header>  
<main>
    <section style="text-align:end;">
        <button class="end">
            <i class="bi bi-gear-fill"></i>   <h3>General</h3>               
           </button>
    </section>
    <section>
        <a href={% url 'updateTest' %}>
            <button class="pink">
                <i class="bi bi-file-earmark-text"></i><h3>Test</h3>               
            </button>
        </a>

           <button class="orange">
            <i class="bi bi-person-fill"></i>    <h3>Usuarios</h3>               
           </button>

           <button class="green">
            <i class="bi bi-people-fill"></i>   <h3>Prefesionales</h3>               
           </button>

           <button class="gray">
            <i class="bi bi-book-fill"></i>    <h3>Inicio</h3>              
           </button>
           
           <button class="blue">
            <i class="bi bi-gear-fill"></i>   <h3>General</h3>               
           </button>
    </section>
    
</main> 
</body>
</html>