{% load static %}

<footer class="footer">
    <p class="footer__texto">Saludem - Todos los derechos Reservados 2022. &copy;</p>
    <a class ="termscondition float-left" href="{{ listfiles.url }}"> Terminos y condiciones</a>
  </footer>
  <style>
    .footer {
    background-color: #AEAFF7;
    padding: 2rem 0;
    margin-top: auto;
    width: 100%;
    font-family:sans-serif !important;

}
    
.termscondition{
  margin-left: 100px;
  transform: translateY(-40%) !important;
  color: black !important;

}
.termscondition:hover{
  text-decoration: underline !important;
  color: rgb(36, 0, 241) !important;

}
.footer__texto {
    
    text-align: center;
    font-size: 1.2rem;
}
  </style>