<!-- Inicio del menu -->
<nav style="background: #AEAFF7; ; " class="navbar navbar-expand-lg navbar-expand-xs navbar-light">
    <div class="container-fluid">
    <!-- icono o nombre -->

    <a class="navbar-brand" href="#">
        <img src={% static 'img/logo.png' %} alt="logo" width="50px">
      <span style="color: #000000;">Saludem</span>
    </a>
        
    <!-- boton del menu -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!-- elementos del menu colapsable -->
    <div class="collapse navbar-collapse " id="menu" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Test Autodiagnóstico</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" href="#">Técnicas de relajación</a>
        </li>
        <li class="nav-item ml-auto">
            <a  class="nav-link" href="#">Diario Emocional</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Agendar Cita</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href={% url 'pageadmin'  %}>FAQ</a>
        </li>
        <li class="nav-item ml-auto">
          <img src={% static 'img/logo.png' %} width="45px" style="border-radius:100%">           
        </li>
        
      </ul>
    </div>
    </div>  
  </nav>

  <br/> </br>
     <!-- Titulo principal -->
     <center><h1 id="title" class="d-block p-4">Administración de Usuarios</h1></center>
 
    <!-- Subtitulo-->
    <center><div class="d-inline p-5  text-black"></center>
        
    <center><h2 style="margin-left: 15px;">Editar Usuario</h2></center>
        </div>
            
    <div class="col-md-11"> 
        <div class = "mb-3">
            <div class = "d-flex flex-column align-items-center aling-items-lg-start">
                <form action="{% url 'update_user' %}">
                    {% csrf_token %}
                    <div class=" col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                        <h1> Actualizar Usuario </h1>
                            <div class="mb-0 col-md-12">
                                <label for="category_name" class="form-label"> Matricula </label>
                                <input type="text" class="form-control" value="{{user.matricula}}" name="matricula" id="matricula" placeholder="matricula" required>
                                <div class="feedback body--small normal"></div>
                            <div class="mb-0 col-md-12">
                                <label for="category_name" class="form-label"> Username </label>
                                <input type="text" class="form-control" value="{{user.username}}" name="username" id="username" placeholder="username" required>
                                <div class="feedback body--small normal"></div>
                            <div class="mb-0 col-md-12">
                                <label for="category_name" class="form-label"> Nombre </label>
                                <input type="text" class="form-control" value="{{user.first_name}}" name="first_name" id="first_name" placeholder="first_name" required>
                                <div class="feedback body--small normal"></div>
                            <div class="mb-0 col-md-12">
                                <label for="category_name" class="form-label"> Apellido </label>
                                <input type="text" class="form-control" value="{{user.last_name}}" name="last_name" id="last_name" placeholder="last_name" required>
                                <div class="feedback body--small normal"></div>
                            <div class="mb-0 col-md-12">
                                <label for="category_name" class="form-label"> email </label>
                                <input type="text" class="form-control" value="{{user.email}}" name="email" id="email" placeholder="email" required>
                                <div class="feedback body--small normal"></div>
                            <div class ="mb-0 col-md-12">
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <button type="submit" class="button" > Editar </button>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <a href="{% url 'allUsers' %}" class="button">Regresar</a>
                                </div>

                            </div>

                            </div>
                        

                    </div>
                </form>

            </div>

        </div>
    </div>

