{% load static %}


<h3>Crear Pregunta</h3>
<form action={% url 'addQuestion' %}  method="POST">
  {% csrf_token %}

  <div class="form-group">
    <input placeholder="Nombre" id="txtQuestion" name="txtQuestion"/>
  </div>
  <select name="txtType" id="txtType" class="form-select" aria-label="Default select example" required>

        <option value="Activo" selected>Activo</option>
        <option value="Desactivado">Desactivado</option>
  </select>
  <div class="form-group">
    <button type="submit">Guardar</button>
  </div>
</form>

<h3> Alternativas:  </h3>
{% if alternatives %}
<ul> 
  {% for alternative in alternatives %}
  <li>
    {{alternative.alternative}}
    <button>Editar</button>
  </li>
  {% endfor %}
</ul>
{% else %}
  <h3> No hay preguntas </h3>
{% endif %}



{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}












































