:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #FFC107;
  --secundario: #0097A7;
  --gris: #757575;
  --grisClaro: #DFE9F3;
  --grismex: #ffffff;

}

main {
  box-sizing: border-box;
  font-size: 100%;
}

.container {
  max-width: 150rem !important;
  margin: 0 auto;
}

.input-text {
  border: 1px solid black !important;

}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black !important;
}


/*formulario*/
.formulario {
  background-color: var(--blanco);
  width: min(60rem, 100%);
  /** Utilizar el valor más pequeño **/
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;

}

.holaheader {
  background-color: var(--blanco);
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primario);
}


.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}

.campo textarea {
  height: 20rem;
}

.input-text {
  width: 100%;
  border: none;

}

.modal-header {
  background-color: var(--grismex);
}

.modal-body {
  background-color: var(--grismex);

}

.modal-footer {
  background-color: var(--grismex);

}

.modal-b {
  background-color: var(--grisClaro);

}

.lostitulos {
  text-align: left;
}

.tdclase {
  width: 100%;
}

.tdclases {
  width: 80%;
}


/** Switch
   -------------------------------------*/

.switch input {
  position: absolute;
  opacity: 0;
}

/**
   * 1. Adjust this to size
   */

.switch {
  display: inline-block;
  font-size: 20px;
  /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked+div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.btn {
  transition-duration: 0.4s;
}

.botonAñadir {
  transition-duration: 0.4s;
}

.botonAñadir:hover {
  background: #f5b1d5;


}

.btn-secondary {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid transparent !important;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background: #858585b1 !important;
  border-radius: 3%;
}

.btn-secondary:hover {
  background: #8b8b8b !important;


}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #fbdfee;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background: #fbdfee;
  border-radius: 3%;
}

.btn:hover {
  background: #f5b1d5;
  border: 2px solid #fbdfee;

}

.btn-continuar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.column-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
















/* 2do css */

.bx-world {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.652) !important;
  font: size 16px;
}

.nav-item .bx-world:hover {
  color: #FFF !important;
}


a {
  text-decoration: none;
  color: black;
  font: size 16px;
}

header {
  display: flex;
  min-height: 70px;
  background-color: #AEAFF7;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

nav a {
  font-weight: 200;
  padding-right: 10px;
}

nav a:hover {
  color: #FFF;
}

:last-child
/*Footer General*/

footer {
  background-color: #AEAFF7;
  padding: 20px;
}

/*Body*/

body {
  font-family: 'FontAwesome', sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh !important;
  flex-direction: column;
}

main {
  margin: 50px;
}

h1 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
  font-family: 'Abhaya Libre', serif;
}

h2 {
  text-align: start;
  font-weight: 100;
  font-size: 20px;
}

.title {
  display: inline;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}


.text-title{
  text-align: center;
  font-weight: 600px; 
  padding-bottom: 15px;   
  max-width: 100%;
  width: 100%;
  font-family: 'Abhaya Libre', serif;
  box-sizing: border-box;
}

table,
td {
  border: 2px solid black !important;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

table{

  width: 99.1% !important;
  margin: 10;

}


#edit {
  content: "\f4b2";
}

.container {

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  margin: auto;

}


.page-link {
  background: #cccc;
  color: black;
}

@media (min-width:1200px) {
  .container-buttons {
    margin-top: 80px !important;
}
}
@media (min-width:501px) {
  .container-buttons {
    margin-top: 80px !important;
}
}
.container-buttons {
  display: flex;
 
  padding: 0 !important;
  justify-content: center;

}

.container-buttons a {
  width: 55px;
  height: 35px;
  display: block;
  border-radius: 30%;
  color: rgb(0, 0, 0);

  text-decoration: none;
  overflow: hidden;
  font-size: 2.2rem;

}
.tdbuttons{
  padding: 0px !important;
  margin: auto;
  width: 300px;

}
.td-imagen{
  padding: 0px !important;
  margin: auto;
  width: 300px;
}
.td-titulo{
  padding: 0px !important;
  margin: auto;
  width: 300px;
}


@media (max-width:500px) {
  .container-buttons .gifs{
    margin-top: 76px !important;
  }
  .container-buttons .eliminar{
    margin-top: 82px !important;
  }
  .container-buttons .editar{
    margin-top: 81px !important;
  }
  .container-buttons .sonido{
    margin-top: 77px !important;
  }
  .imagen {
    width: auto  !important;
    height: auto;
  }
  .tdbuttons{
    padding: 0px !important;
    margin: auto;
  
  }
  .td-imagen{
    padding: 0px !important;
    margin: auto;
    width: 450px;
  }
  .td-titulo{
    padding: 0px !important;
    margin: auto;
    width: 100px;
  }
  
  .img-fluid{
    width: 100%!important;

  }
  .grid2{
    flex-direction: column !important;
  }
  .container-buttons a {
    font-size: 30px;
    height: 31px;
  }
  .container-buttons .gifs{
    font-size: 33px !important;
  }
  
}
.container-buttons a::before {
  content: "\f4b2";
  display: block;
  margin: 0px 0;
  transition: all .5s ease-in-out;
}

.container-buttons a:hover::before {
  margin-top: -34px;
}

.container-buttons a::after {
  content: "\e190";
  display: block;
}

.container-buttons .editar::after {
  content: "\f044";
  display: block;
}

.container-buttons .eliminar::after {
  content: "\f1f8";
  display: block;
}

.container-buttons .editar::before {
  content: '\f044';
}

.container-buttons .eliminar::before {
  content: '\f1f8';
}
.container-buttons .gifs {
  width: 55px;
  height: 38px !important;
  display: block;
  border-radius: 30%;
  /* line-height: 70px; */
  color: rgb(0, 0, 0);

  text-decoration: none;
  overflow: hidden;
  font-size: 2.2rem;

}
.container-buttons .gifs:hover::before {
  margin-top: -45px !important;
}

.container-buttons .gifs::after {
  content: "\f15b ";
  display: block;
  margin-top:10px ;
}

.container-buttons .gifs::before {
  content: '\f15b ';
  margin-top:1px ;
 
}
.text-title {
  text-align: center;
  font-weight: 600px;
  padding-bottom: 15px;
  max-width: 100%;
  width: 100%;
  font-family: 'Abhaya Libre', serif;
  box-sizing: border-box;
}

.botonAgregar {
  border: none;
  color: white;
  justify-content: center;
  margin-bottom: 30px !important;
  width: none;
  height: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 130px !important;
  transition-duration: 0.4s;

}

.botonAgregar:hover {
  background: transparent;

}

.container-buttons .añadir {
  width: 190px;
  height: 50px;
  margin-top: 4px !important;
  margin-left: 10px !important;

  margin-bottom: auto !important;
  display: flex;
  border-radius: 0%;
  /* line-height: 70px; */
  color: rgb(0, 0, 0);
  margin: auto;
  text-decoration: none;
  overflow: hidden;
  font-size: 34px;

}


.button {
  display: inline-block;
  border-radius: 4px;
  background: #fbdfee;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15.9px;
  height: 60px;
  width: 189px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\+';
  position: absolute;
  opacity: 0;
  bottom: -10;
  font-size: 30px;
  left: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 36px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}


.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: stretch;
  row-gap: 20px;
}

.content {
  text-align: center;
  box-sizing: border-box;

  padding: 10px;
}
.container-buttons .sonido {
  width: 55px;
  height: 38px !important;
  display: block;
  border-radius: 30%;
  /* line-height: 70px; */
  color: rgb(0, 0, 0);

  text-decoration: none;
  overflow: hidden;
  font-size: 2.2rem;

}
.container-buttons .sonido:hover::before {
  margin-top: -45px !important;
}

.container-buttons .sonido::after {
  content: "\f1c7  ";
  display: block;
  margin-top:10px ;
}

.container-buttons .sonido::before {
  content: '\f1c7  ';
  margin-top:1px ;
 
}
