/*Css vista Administrador*/
/*Header General*/

a{
    text-decoration: none;
    color: black;
    font: size 16px;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #AEAFF7;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px  ;
    margin-top: 10px;
}
.bx-world {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.652) !important;
    font: size 16px;
}

.nav-item .bx-world:hover {
    color: #FFF !important;
}


a {
    text-decoration: none;
    color: black;
    font: size 16px;
}:last-child



/*Footer General*/

footer{
    background-color: #AEAFF7;
    padding: 20px;
}

/*Body*/

body{
    font-family: sans-serif;
    margin: 0;  
}
main{
    margin: 50px;
}

h1{
    text-align: center;
    font-weight: 600; 
    padding-bottom: 15px;   
}

.title{
    display: inline;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.text-title{
    text-align: center;
    font-weight: 600px; 
    padding-bottom: 15px;
    max-width: 100%;
    width: 100%;
    font-family: 'Abhaya Libre', serif;
    box-sizing: border-box;
  }
  .text-title2{
    text-align: center !important;
    font-weight: 600px !important; 
    padding-bottom: 15px !important;   
    max-width: 100%;
    width: auto;
    font-family: 'Mulish', serif !important;
    box-sizing: border-box !important; 
  }
