<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="#" class="logo"> <img src="img/logo.png" alt="">
        <h1 class="business_name">Saludem</h1>
        </a>
        <nav>
        <a href="#">Test Autodiagnóstico</a>
        <a href="#">Técnicas de relajación</a>
        <a href="#">Diario Emocional</a>
        <a href="#">Agendar Cita</a>
        <a href="#">FAQ</a>
        <a href="#"></a>
        </nav> 
    </header>
    
    <div>
        <h1>Administración de Usuario</h1>
    </div>
    
</body>
</html>