<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="img/">
    <title>Document</title>
</head>
<body>

    <header>
        <a href="+" class="logo">
            <img src="img/logo.png" alt="">
            <h1 class="business_name">Saludem</h1>
        </a>
        <nav>
            <a href="#">Saludem</a>
            <a href="#">Test Autodiagnóstico</a>
            <a href="#">Técnicas de relajación</a>
            <a href="#">Diario Emocional</a>
            <a href="#">Agendar Cita</a>
            <a href="#">FAQ</a>
            <a href="#"></a>
        </nav> 
    </header>

    <main>

        <section class="title">
            <h1>Test de Autodiagnóstico</h1>
        </section>

        <section class="instruction">
            <div>
                <h2>Instrucciones:</h2>
                <h3>
                    Por favor, lea las afirmaciónes y responda seleccionando 0 (no me aplica nada), 1, 2 o 3 (me aplica mucho o casi todo el tiempo) indicando cuánto aplica a usted cada una durante la semana pasada. No hay respuestas correctas o incorrectas, no gastes demasiado
                    tiempo en cualquier declaración. (idea de como escribirlo)
                </h3>
            </div>
        </section>

        <section class="autodiag">
            <form action="" method="post" class="form">

                 <div class="question">
                    <h1>1.Encuentro dificil tranquilizarme</h1>
                    <input type="button" id="question1" value="0" required>
                    <input type="button" id="question1" value="1" required>
                    <input type="button" id="question1" value="2" required>                        <input type="button" id="question1" value="3">
                </div>

                <div class="question">
                    <h1>2.En ocasiones siento mi boca reseca</h1>
                     <input type="button" id="question2" value="0">
                    <input type="button" id="question2" value="1">
                    <input type="button" id="question2" value="2">                        <input type="button" id="question2" value="3">
                </div>

                <div class="question">
                    <h1>3.No puedo experimentar ningun sentimiento positivo</h1>
                    <input type="button" id="question3" value="0">
                    <input type="button" id="question3" value="1">                        <input type="button" id="question3" value="2">
                    <input type="button" id="question3" value="3">
                </div>

                <button type="reset">Cancelar</button>
                <button type="submit">Continuar</button>

            </form>
        </section>
    </main>

    <footer>
        <h1>Footer</h1>
    </footer>
    
</body>
</html>