<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="img/">
    <title>Document</title>
</head>
<body>

    <header>
        <a href="+" class="logo">
            <img src="img/logo.png" alt="">
            <h1 class="business_name">Saludem</h1>
        </a>
        <nav>
            <a href="#">Saludem</a>
            <a href="#">Test Autodiagnóstico</a>
            <a href="#">Técnicas de relajación</a>
            <a href="#">Diario Emocional</a>
            <a href="#">Agendar Cita</a>
            <a href="#">FAQ</a>
            <a href="#"></a>
        </nav> 
    </header>

    <main>

        <div class="login">
            <div class="card-login">
                <div class="content">
                    <h1>Iniciar Sesion</h1>
                    <p>Email</p>
                    <input type="email" placeholder="Email" name="email" id="email" class="text">    
                    <p>Contraseña</p>
                    <input type="password" placeholder="Contraseña" name="contraseña" id="contraseña" class="text"> 
                    <br>
                    <button type="submit" class="but">Ingresar</button>
                </div>
                <div class="ref">
                    <a href="#" class="refere">Olvide mi contraseña</a>
                    <p>¿No tienes una cuenta aun? <a href="#" class="referef">Registrarme</a></p>
                </div>
            </div>
        </div>

    </main>

    
</body>
</html>