<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/termometro.css">
    <link rel="stylesheet" href="img/">
    <title>Document</title>
</head>
<body>

    <header>
        <a href="+" class="logo">
            <img src="img/logo.png" alt="">
            <h1 class="business_name">Saludem</h1>
        </a>
        <nav>
            <a href="#">Saludem</a>
            <a href="#">Test Autodiagnóstico</a>
            <a href="#">Técnicas de relajación</a>
            <a href="#">Diario Emocional</a>
            <a href="#">Agendar Cita</a>
            <a href="#">FAQ</a>
            <a href="#"></a>
        </nav> 
    </header>
    <main>
        <section>
            <h1>Resultados</h1>
        </section>
        
    
        <!--Depresion-->
        
        <aside>
                <div class="normal"></div>
                <div class="leve"></div>
                <div class="moderada"></div>
                <div class="severo "></div>
                <div class="extremadamente_severo"></div>
         </aside>    

        <section class="depresion">
            <div>
                <h2>Depresión</h2>
                <h3>
                    Tu nivel de depresión es:
                </h3>
                <h4>Resultado</h4>
                <input type="checkbox" id="btn-modal">
	            <label for="btn-modal" class="lbl-modal">¿Que Hacer?</label>
	              <div class="modal">
	 	          <div class="contenedor">
			    <label for="btn-modal">X</label>
			    <div class="contenido">
				<h5>Recomendaciones</h5>
				<p>Debido a que tu depresion es moderada, te recomendamos:</p>
                <div class="btnsD-queHacer"></div>
                <a href="#" class="btnsD" >Técnicas de relajacion</a>
                <a href="#" class="btnsD" >Buscar profesionales</a>
                <div class="btn-aceptar">
                    <a href="#" class="btn">Aceptar</a>
                </div>
			</div>
        </section>




      <!--Ansiedad-->
        <aside2>
            <div class="normal"></div>
            <div class="leve"></div>
            <div class="moderada"></div>
            <div class="severo "></div>
            <div class="extremadamente_severo"></div>
            </aside2>

        <section class="ansiedad">
            <div>
                <h2>Ansiedad:</h2>
                <h3>
                    Tu nivel de ansiedad es:
                </h3>
                <h4>Resultado</h4>

                <input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal">¿Que Hacer?</label>
	<div class="modal">
		<div class="contenedor">
			
			<label for="btn-modal">X</label>
			<div class="contenido">
				<h5>Recomendaciones</h5>
				<p>Debido a que tu ansiedad es moderada, te recomendamos:</p>
                <div class="btnsD-queHacer"></div>
                <a href="#" class="btnsD">Técnicas de relajacion</a>
                <a href="#" class="btnsD">Buscar profesionales</a>
                <div class="btn-aceptar">
                    <a href="#" class="btn">Aceptar</a>
                </div>
			</div>
            
        </section>
       

       </div>


       <!--Estres-->
       <aside2>
        <div class="normal"></div>
        <div class="leve"></div>
        <div class="moderada"></div>
        <div class="severo "></div>
        <div class="extremadamente_severo"></div>
         
        </aside2>

    <section class="ansiedad">
        <div>
            <h2>Estres:</h2>
            <h3>
                Tu nivel de estres es:
            </h3>
            <h4>Resultado</h4>

            <input type="checkbox" id="btn-modal">
<label for="btn-modal" class="lbl-modal">¿Que Hacer?</label>
<div class="modal">
    <div class="contenedor">
        
        <label for="btn-modal">X</label>
        <div class="contenido">
            <h5>Recomendaciones</h5>
            <p>Debido a que tu estres es moderada, te recomendamos:</p>
            <div class="btnsD-queHacer"></div>
            <a href="#" class="btnsD">Técnicas de relajacion</a>
            <a href="#" class="btnsD">Buscar profesionales</a>
            <div class="btn-aceptar">
                <a href="#" class="btn">Aceptar</a>
            </div>
        </div>
        
    </section>
    <div class="btn-continuar">
        <a href="#" class="btn">Continuar</a>
    </div>

   </div>
    </main>





    <footer>
        <h1>Footer</h1>
    </footer>
    
</body>
</html>